<tmpl_include name="../inc.head.tmpl">
<tmpl_var name="head">
<tmpl_var name="menu">
<div align="center">
	<table width="100%" border="1" bordercolor="#FFFFFF" cellpadding="2" cellspacing="0" bgcolor="#EEEEEE">
		<tr>
			<td bgcolor="#d6dfe6" background="themes/default/images/bar.gif">
				<img src="themes/default/images/properties.png" width="18" height="13" border="0">&nbsp;&nbsp;<font class="title">Index Settings</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<div align="center">
					<table cellpadding="5" cellspacing="0" border="0" width="100%">
						<form name="theForm" action="index.php?iid=admin&op=updateIndexSettings" method="post">
							<tr>
								<td align="left" width="350" valign="top"><strong>Use Refresh</strong><br>
								Use meta-refresh on index-page. (true):
								</td>
								<td valign="bottom">
									<select name="ui_indexrefresh">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="ui_indexrefresh" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Page Refresh (in seconds)</strong><br>
								Number of seconds before the transfer list page refreshes:
								</td>
								<td valign="top">
									<input name="page_refresh" type="Text" maxlength="3" value="<tmpl_var name="pagerefresh">" size="3">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Width</strong><br>
								Specify the width of the index-page. (780):
								</td>
								<td valign="bottom">
									<input name="ui_dim_main_w" type="Text" maxlength="5" value="<tmpl_var name="ui_dim_main_w">" size="5">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable multi-upload</strong><br>
								Enable/Disable multi-upload :
								</td>
								<td valign="top">
									<select name="enable_multiupload">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_multiupload" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>multi-upload - rows</strong><br>
								Specify rows on multi-upload page. (default is "6"):
								</td>
								<td valign="bottom">
									<input name="hack_multiupload_rows" type="Text" maxlength="2" value="<tmpl_var name="hack_multiupload_rows">" size="2">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable Torrent Search</strong><br>
									When enabled, users will be allowed to perform torrent searches from the home page:
								</td>
								<td valign="top">
									<select name="enable_search">
											<option value="1">true</option>
											<option value="0"
										<tmpl_if name="enable_search" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Default Torrent Search Engine</strong><br>
									Select the default search engine for torrent searches:
								</td>
								<td valign="top">
									<select name="searchEngine" <tmpl_if name="autoSubmit">onchange="this.form.submit();"</tmpl_if> STYLE="width: 125px">
									<tmpl_loop name="Engine_List">
										<option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="Engine"></option>
									</tmpl_loop>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Display Links</strong><br>
								Display Links on the index-page :
								</td>
								<td valign="bottom">
									<select name="ui_displaylinks">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="ui_displaylinks" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Display Users</strong><br>
								Display Users on the index-page :
								</td>
								<td valign="bottom">
									<select name="ui_displayusers">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="ui_displayusers" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable Good looking statistics</strong><br>
								Enable/Disable "Good looking statistics" :
								</td>
								<td valign="top">
									<select name="enable_goodlookstats">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_goodlookstats" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Good looking statistics settings</strong><br>
								Configure Settings of "Good looking statistics" :
								</td>
								<td valign="top">
								<tmpl_var name="GoodLookingStatsForm">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Show MRTG-Link</strong><br>
								Show MRTG-Graphs-Link :
								</td>
								<td valign="top">
									<select name="enable_mrtg">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_mrtg" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Select Drivespace-Bar</strong><br>
								Select Style of Drivespace-Bar on index-Page :
								</td>
								<td valign="top">
									<select name="drivespacebar">
										<option value="tf"
										<tmpl_if name="drivespacebar" value="tf">
											 selected
										</tmpl_if>
										>tf</option>
										<option value="xfer"
										<tmpl_if name="drivespacebar" value="xfer">
											 selected
										</tmpl_if>
										>xfer</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Display Bandwidth-Bars</strong><br>
								Display Bandwidth-Bars on the index-page :
								</td>
								<td valign="bottom">
									<select name="ui_displaybandwidthbars">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="ui_displaybandwidthbars" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Select Bandwidth-Bars</strong><br>
								Select Style of Bandwidth-Bars on index-Page :
								</td>
								<td valign="top">
									<select name="bandwidthbar">
										<option value="tf"
										<tmpl_if name="bandwidthbar" value="tf">
											 selected
										</tmpl_if>
										>tf</option>
										<option value="xfer"
										<tmpl_if name="bandwidthbar" value="xfer">
											 selected
										</tmpl_if>
										>xfer</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Bandwidth Up</strong><br>
								Define the line-speed up in kbits :
								</td>
								<td valign="top">
									<input name="bandwidth_up" type="Text" maxlength="10" value="<tmpl_var name="bandwidth_up">" size="6">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Bandwidth Down</strong><br>
								Define the line-speed down in kbits :
								</td>
								<td valign="top">
									<input name="bandwidth_down" type="Text" maxlength="10" value="<tmpl_var name="bandwidth_down">" size="6">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable Big bold drivespace warning</strong><br>
								Enable/Disable "Big bold drivespace warning" :
								</td>
								<td valign="top">
									<select name="enable_bigboldwarning">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_bigboldwarning" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Only Admin can see other users transfers</strong><br>
								Enable/Disable "Only Admin can see other users transfers" :
								</td>
								<td valign="top">
									<select name="enable_restrictivetview">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_restrictivetview" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable Torrent File Download</strong><br>
								When enabled, users will be allowed to download the torrent meta file from the torrent list view:
								</td>
								<td valign="top">
									<select name="enable_torrent_download">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_torrent_download" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Estimated Time to Seed</strong><br>
									Display the estimated time until your seeding reaches the cutoff you set :
								</td>
								<td valign="top">
									<select name="display_seeding_time">
                                        <option value="1">true</option>
                                        <option value="0"
                                        <tmpl_if name="display_seeding_time" value="0">
                                                 selected
                                        </tmpl_if>
                                        >false</option>
                                    </select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable sorttable</strong><br>
								Enable Client-Side sorting of Transfer-Table:
								</td>
								<td valign="top">
									<select name="enable_sorttable">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_sorttable" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Select Sort-Order</strong><br>
								Select default Sort-Order of transfers :
								</td>
								<td valign="top">
									<tmpl_var name="getSortOrderSettings">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Transfer-List Settings</strong><br>
								Select the columns shown in the transfer-list.
								</td>
								<td valign="top">
									<tmpl_var name="IndexPageSettingsForm">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable multi-operations</strong><br>
									Enable/Disable client-multi-operations. (Start/Stop/Delete/...) :
								</td>
								<td valign="top">
									<select name="enable_multiops">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_multiops" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Enable bulk-operations</strong><br>
									Enable/Disable bulk-operations. (Stop/Resume/Start) :
								</td>
								<td valign="top">
									<select name="enable_bulkops">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_bulkops" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Show Server Stats</strong><br>
								Enable showing the server stats at the bottom :
								</td>
								<td valign="top">
									<select name="index_page_stats">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="index_page_stats" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Show Server Load</strong><br>
								Enable showing the average server load over the last 15 minutes:
								</td>
								<td valign="top">
									<select name="show_server_load">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="show_server_load" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top"><strong>Show Connections</strong><br>
								Enable showing the Sum of TCP-Connections:
								</td>
								<td valign="top">
									<select name="index_page_connections">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="index_page_connections" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="center" colspan="2">
								<input type="Submit" value="Update Settings">
								</td>
							</tr>
						</form>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<tmpl_var name="foot">