<tmpl_include name="inc.head.tmpl">
<tmpl_if name="set">
	<tmpl_var name="head">
	<br>
	<div align="left" id="BodyLayer" name="BodyLayer" style="border: thin solid <tmpl_var name="main_bgcolor">; position:relative; width:740; height:500; padding-left: 5px; padding-right: 5px; z-index:1; overflow: scroll; visibility: visible">
		<br><br><strong>
			forwarding to <a href="<tmpl_var name="_REQUEST">"><tmpl_var name="_REQUEST"></a> ...
		</strong><br><br>
	</div>
	<tmpl_var name="foot">
</tmpl_if>