<option value="<tmpl_var name="dir">"><tmpl_var name="dir"></option>
<tmpl_if name="retvar_list">
	<tmpl_loop name="retvar_list">
		<option value="<tmpl_var name="retval">"><tmpl_var name="retval"></option>
	</tmpl_loop>
</tmpl_if>