<select name="searchEngine" <tmpl_if name="autoSubmit">onchange="this.form.submit();"</tmpl_if> STYLE="width: 125px">
<tmpl_loop name="Engine_List">
	<option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="Engine"></option>
</tmpl_loop>
</select>