<table width="100%">
	<tr>
		<td width="10%">
			<div class="tiny">Upload :</div>
		</td>
		<td width="90%">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr nowrap>
					<td width="80%">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td background="themes/<tmpl_var name="theme">/images/proglass.gif" width="<tmpl_var name="bandwidthbars_upload_percent">'%"><div class="tinypercent" align="center"><nobr><tmpl_var name="bandwidthbars_upload_percent">%<tmpl_var name="bandwidthbars_upload_text"></nobr></div></td>
								<td background="themes/<tmpl_var name="theme">/images/noglass.gif" width="<tmpl_var name="bandwidthbars_upload_percent2">%"><img src="themes/tf_standard_themes/images/blank.gif" width="1" height="3" border="0"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<div class="tiny">Download :</div>
		</td>
		<td width="90%">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr nowrap>
					<td width="80%">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td background="themes/<tmpl_var name="theme">/images/proglass.gif" width="<tmpl_var name="bandwidthbars_download_percent">'%"><div class="tinypercent" align="center"><nobr><tmpl_var name="bandwidthbars_download_percent">%<tmpl_var name="bandwidthbars_download_text"></nobr></div></td>
								<td background="themes/<tmpl_var name="theme">/images/noglass.gif" width="<tmpl_var name="bandwidthbars_download_percent2">%"><img src="themes/tf_standard_themes/images/blank.gif" width="1" height="3" border="0"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>