<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.transferHead.tmpl">
<div align="center">
	<tmpl_include name="inc.transferNavi.tmpl">
	<table width="380" cellpadding="3" cellspacing="0" border="0">
		<tr>
			<td align="center">
				<strong><tmpl_var name="transferLabel"></strong><font class="tiny"> (<tmpl_var name="cons_hosts">)</font>
			</td>
			<td align="right" width="16">
				<a href="index.php?iid=transferStats&transfer=<tmpl_var name="transfer">">
					<img src="themes/tf_standard_themes/images/<tmpl_var name="hd_image">" width=16 height=16 border=0 title="<tmpl_var name="hd_title">">
				</a>
			</td>
		</tr>
	</table>
	<table bgcolor="<tmpl_var name="table_header_bg">" width="100%" cellpadding="1">
		<tr>
			<td>
				<div align="center">
					<table border="0" cellpadding="2" cellspacing="2" width="90%">
						<tmpl_if name="transfer_hosts_aval">
							<tr>
								<td><div class="tiny"><strong><tmpl_var name="_ID_HOST"></strong></div></td>
								<td><div class="tiny"><strong><tmpl_var name="_ID_PORT"></strong></div></td>
							</tr>
							<tmpl_if name="hosts">
								<tmpl_loop name="list_host">
									<tr>
										<td bgcolor="<tmpl_var name="body_data_bg">" nowrap><div class="tiny"><tmpl_var name="host"></div></td>
										<td bgcolor="<tmpl_var name="body_data_bg">" nowrap><div class="tiny"><tmpl_var name="port"></div></td>
									</tr>
								</tmpl_loop>
							</tmpl_if>
						</tmpl_if>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<tmpl_include name="inc.transferFoot.tmpl">