<tmpl_include name="inc.head.tmpl">
<tmpl_if name="index_ajax_update">
	<script src="js/ajax.js" type="text/javascript"></script>
	<script src="js/ajax_index.js" type="text/javascript"></script>
</tmpl_if>
<tmpl_if name="enable_jswarning" value="1">
	<script language="JavaScript">
		alert('<tmpl_var name="_WARNING">: <tmpl_var name="drivespace">% <tmpl_var name="_DRIVESPACEUSED">');
	</script>
</tmpl_if>
<body topmargin="8" bgcolor="<tmpl_var name="main_bgcolor">"<tmpl_if name="onLoad"> onLoad="<tmpl_var name="onLoad">"</tmpl_if>>
<div align="center">
	<tmpl_if name="messages">
		<table border="1" cellpadding="10" bgcolor="#ff9b9b">
			<tr>
				<td>
					<div align="center"><tmpl_var name="messages"></div>
				</td>
			</tr>
		</table>
		<br><br>
	</tmpl_if>
	<table border="0" cellpadding="0" cellspacing="0" width="<tmpl_var name="ui_dim_main_w">"
		<tr>
			<td>
				<table border="1" bordercolor="<tmpl_var name="table_border_dk">" cellpadding="4" cellspacing="0" width="100%">
					<tr>
						<td colspan="2" background="themes/<tmpl_var name="theme">/images/bar.gif">
							<tmpl_include name="inc.titleBar.tmpl">
						</td>
					</tr>
					<tr>
						<td bgcolor="<tmpl_var name="table_header_bg">">
							<table width="100%" cellpadding="1" cellspacing="0" border="0">
								<tr>
									<form name="form_file" action="index.php?iid=index" method="post" enctype="multipart/form-data">
										<td>
										<tmpl_var name="_SELECTFILE">:<br>
										<input type="File" name="upload_file" size="30">
										<select name="aid" size="1">
											<option value="1" selected><tmpl_var name="_UPLOAD"></option>
											<tmpl_if name="queueActive" value="1">
												<tmpl_if name="isAdmin">
													<option value="2"><tmpl_var name="_UPLOAD">+Start</option>
												</tmpl_if>
												<option value="3"><tmpl_var name="_UPLOAD">+Queue</option>
											<tmpl_else>
												<option value="2"><tmpl_var name="_UPLOAD">+Start</option>
											</tmpl_if>
										</select>
										<input type="Submit" value="Go">
										<br>
										<tmpl_if name="enable_multiupload">
											&nbsp;<a href="index.php?iid=multiup"><img src="themes/tf_standard_themes/images/arrow.gif" width="9" height="9" title="<tmpl_var name="_MULTIPLE_UPLOAD">" border="0"></a>&nbsp;
											<a href="index.php?iid=multiup"><tmpl_var name="_MULTIPLE_UPLOAD"></a>
										</tmpl_if>
									</td>
								</form>
							</tr>
							<tr>
								<form name="form_url" action="index.php?iid=index" method="post">
									<td>
										<hr>
										<tmpl_var name="_URLFILE">:<br>
										<input type="text" name="url_upload" size="40">
										<select name="aid" size="1">
											<option value="1" selected><tmpl_var name="_GETFILE"></option>
											<tmpl_if name="queueActive" value="1">
												<tmpl_if name="isAdmin">
													<option value="2"><tmpl_var name="_GETFILE">+Start</option>
												</tmpl_if>
												<option value="3"><tmpl_var name="_GETFILE">+Queue</option>
											<tmpl_else>
												<option value="2"><tmpl_var name="_GETFILE">+Start</option>
											</tmpl_if>
										</select>
										<input type="Submit" value="Go">
									</td>
								</form>
							</tr>
							<tmpl_if name="enable_wget">
								<tr>
									<form name="form_wget" action="index.php?iid=index" method="post">
										<td>
											<hr>
											URL for the File to wget :<br>
											<input type="text" name="url_wget" size="40">
											<input name="wget_start" type="Checkbox" value="1">Start
											<input type="Submit" value="Go">
										</td>
									</form>
								</tr>
							</tmpl_if>
							<tmpl_if name="enable_search">
								<tr>
									<form name="form_search" action="index.php" method="get">
										<input type="hidden" name="iid" value="torrentSearch">
										<td>
											<hr>
											Torrent <tmpl_var name="_SEARCH">:<br>
											<input type="text" name="searchterm" size="30" maxlength="50">
												<select name="searchEngine" <tmpl_if name="autoSubmit">onchange="this.form.submit();"</tmpl_if> STYLE="width: 125px">
												<tmpl_loop name="Engine_List">
													<option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="Engine"></option>
												</tmpl_loop>
												</select>
											<input type="Submit" value="<tmpl_var name="_SEARCH">">
										</td>
									</form>
								</tr>
							</tmpl_if>
						</table>
					</td>
					<td bgcolor="<tmpl_var name="table_data_bg">" width="310" valign="top">
						<table width="100%" cellpadding="1" border="0">
							<tr>
								<tmpl_if name="ui_displaylinks">
									<td valign="top">
										<b><tmpl_var name="_TORRENTLINKS">:</b><br>
										<tmpl_loop name="linklist">
											<tmpl_if name="enable_dereferrer">
												<a href="index.php?iid=dereferrer&u=<tmpl_var name="link_url">" target="_blank"><img src="themes/tf_standard_themes/images/arrow.gif" width=9 height=9 title="<tmpl_var name="link_url">" border=0 align="baseline"><tmpl_var name="link_sitename"></a><br>
											<tmpl_else>
												<a href="<tmpl_var name="link_url">" target="_blank"><img src="themes/tf_standard_themes/images/arrow.gif" width=9 height=9 title="<tmpl_var name="link_url">" border=0 align="baseline"><tmpl_var name="link_sitename"></a><br>
											</tmpl_if>
										</tmpl_loop>
									</td>
								</tmpl_if>
								<td bgcolor="<tmpl_var name="table_data_bg">" valign="top">
								<tmpl_if name="settingsHackStats1">
									<b><tmpl_var name="_DOWNLOADSPEED">:</b><br>
									<a href="index.php?iid=who"><img src="themes/tf_standard_themes/images/download.gif" width="16" height="16" border="0" title="" align="absmiddle"><label id="g_speedDown"><tmpl_var name="settingsHackStats11"></label> kB/s</a><br>
								</tmpl_if>
								<tmpl_if name="settingsHackStats2">
									<b><tmpl_var name="_UPLOADSPEED">:</b><br>
									<a href="index.php?iid=who"><img src="themes/tf_standard_themes/images/download.gif" width="16" height="16" border="0" title="" align="absmiddle"><label id="g_speedUp"><tmpl_var name="settingsHackStats22"></label> kB/s</a><br>
								</tmpl_if>
								<tmpl_if name="settingsHackStats3">
									<b><tmpl_var name="_TOTALSPEED">:</b><br>
									<a href="index.php?iid=who"><img src="themes/tf_standard_themes/images/download.gif" width="16" height="16" border="0" title="" align="absmiddle"><label id="g_speedTotal"><tmpl_var name="settingsHackStats33"></label> kB/s</a><br>
								</tmpl_if>
								<tmpl_if name="settingsHackStats4">
									<b><tmpl_var name="_ID_CONNECTIONS">:</b><br>
									<a href="index.php?iid=all_services"><img src="themes/tf_standard_themes/images/all.gif" width="16" height="16" border="0" title="" align="absmiddle"><label id="g_connections"><tmpl_var name="settingsHackStats44"></label></a><br>
								</tmpl_if>
								<tmpl_if name="settingsHackStats5">
									<b><tmpl_var name="_DRIVESPACE">:</b><br>
									<a href="index.php?iid=drivespace"><img src="themes/tf_standard_themes/images/hdd.gif" width="16" height="16" border="0" title="" align="absmiddle"><label id="g_freeSpace"><tmpl_var name="settingsHackStats55"></label></a><br>
								</tmpl_if>
								<tmpl_if name="settingsHackStats6">
									<b><tmpl_var name="_SERVERLOAD">:</b><br>
									<a href="index.php?iid=who"><img src="themes/tf_standard_themes/images/who.gif" width="16" height="16" border="0" title="" align="absmiddle"><label id="g_loadavg"><tmpl_var name="settingsHackStats66"></label></a><br>
								</tmpl_if>
								<tmpl_if name="ui_displayusers">
								    <b><tmpl_var name="_ONLINE">:</b><br>
								    <tmpl_loop name="arOnlineUsers">
										<tmpl_if name="is_on">
											<a href="index.php?iid=message&to_user=<tmpl_var name="user">">
											<img src="themes/tf_standard_themes/images/user.gif" width=17 height=14 title="" border=0 align="bottom"><tmpl_var name="user"></a><br>
										</tmpl_if>
								    </tmpl_loop>
    								<tmpl_if name="hide_offline" value="0">
    									<b><tmpl_var name="_OFFLINE">:</b></br>
    									<tmpl_loop name="arOfflineUsers">
											<tmpl_if name="is_off">
    											<a href="index.php?iid=message&to_user=<tmpl_var name="user">">
    											<img src="themes/tf_standard_themes/images/user_offline.gif" width=17 height=14 title="" border=0 align="bottom"><tmpl_var name="user"></a><br>
											</tmpl_if>
    								    </tmpl_loop>
    								</tmpl_if>
								</tmpl_if>
							</td>
						</tr>
				</table>
			</td>
		</tr>
		<tr>
			<tr>
				<td bgcolor="<tmpl_var name="table_data_bg">" colspan="2" nowrap>
					<div align="center">
						<font face="Arial" size="2">
							<a href="index.php?iid=readrss">
								<img src="themes/tf_standard_themes/images/download_owner.gif" width="16" height="16" border="0" title="RSS Torrents" align="absmiddle">RSS Torrents</a>
							|
							<a href="index.php?iid=drivespace">
								<img src="themes/tf_standard_themes/images/hdd.gif" width="16" height="16" border="0" title="<tmpl_var name="drivespace">% Used" align="absmiddle"><tmpl_var name="_DRIVESPACE"></a>
							|
							<tmpl_if name="enable_xfer">
								<a href="index.php?iid=xfer">
									<img src="themes/tf_standard_themes/images/download.gif" width="16" height="16" border="0" title="" align="absmiddle"><tmpl_var name="_XFER_USAGE"></a>
								|
							</tmpl_if>
							<tmpl_if name="enable_mrtg">
								<a href="index.php?iid=mrtg">
									<img src="themes/tf_standard_themes/images/mrtg.gif" width="16" height="16" title="" border="0" align="absmiddle"><tmpl_var name="_ID_MRTG"></a>
								|
							</tmpl_if>
							<a href="index.php?iid=who">
								<img src="themes/tf_standard_themes/images/who.gif" width="16" height="16" title="" border="0" align="absmiddle"><tmpl_var name="_SERVERSTATS"></a>
							|
							<a href="index.php?iid=all_services">
								<img src="themes/tf_standard_themes/images/all.gif" width="16" height="16" title="" border="0" align="absmiddle"><tmpl_Var name="_ALL"></a>
							|
							<a href="index.php?iid=dir">
								<img src="themes/tf_standard_themes/images/folder.gif" width="16" height="16" title="" border="0" align="absmiddle"><tmpl_var name="_DIRECTORYLIST"></a>
							|
							<a href="index.php?iid=dir&dir=<tmpl_var name="path_incoming">">
								<img src="themes/tf_standard_themes/images/folder.gif" width="16" height="16" title="Incoming" border="0" align="absmiddle">Incoming</a>
							|
							<a href="JavaScript:openServerMonitor()">
								<img src="themes/tf_standard_themes/images/servmon.gif" width="16" height="16" title="Server Monitor" border="0" align="absmiddle"></a>
							|
							<a href="stats.php?f=rss" title="RSS - Stats" target="_blank">
								<img src="themes/tf_standard_themes/images/rss.png" width="14" height="14" border="0" alt="RSS - Stats" title="RSS - Stats" align="absmiddle"></a>
						</font>
					</div>
				</td>
			</tr>
			<tr>
				<td bgcolor="<tmpl_var name="table_header_bg">" colspan="2">
					<tmpl_if name="drivespacebar_type" value="xfer">
    					<tmpl_include name="inc.driveSpaceBar_xfer.tmpl">
					<tmpl_else>
					    <tmpl_include name="inc.driveSpaceBar_tf.tmpl">
					</tmpl_if>
					<tmpl_if name="xfer_realtime">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<tmpl_var name="xfer_day">
								<tmpl_var name="xfer_week">
								<tmpl_var name="xfer_month">
								<tmpl_var name="xfer_total">
							</tr>
						</table>
					</tmpl_if>
				</td>
			</tr>
			<tmpl_if name="ui_displaybandwidthbars">
				<tr><td bgcolor="<tmpl_var name="table_header_bg">" colspan="2">
					<tmpl_if name="bandwidthbars_type" value="xfer">
					    <tmpl_include name="inc.bandwidthBars_xfer.tmpl">
					<tmpl_else>
					    <tmpl_include name="inc.bandwidthBars_tf.tmpl">
					</tmpl_if>
				</td></tr>
			</tmpl_if>
			<tmpl_if name="enable_bigboldwarning" value="1">
				<tr>
					<td bgcolor="<tmpl_var name="table_data_bg">" colspan="2" nowrap>
						<div align="center">
							<font face="Arial" size="2" color="red"><strong>
								Warning! <tmpl_var name="drivespace">% drivespace is used! You have <tmpl_var name="freeSpaceFormatted"> left!
							</strong></font>
						</div>
					</td>
				</tr>
			</tmpl_if>
		</table>
		<form action="index.php?iid=dispatcher" method="POST">
			<table bgcolor="<tmpl_var name="table_data_bg">" width="100%" bordercolor="<tmpl_var name="table_border_dk">" border="1" cellpadding="3" cellspacing="0" class="sortable" id="transfer_table">
				<tmpl_if name="are_user_torrent">
				<tr>
					<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">
						<tmpl_if name="sortOrder" value="da">
							<a href="index.php?iid=index&so=dd"><font class="adminlink">#</font></a>
							<a href="index.php?iid=index&so=dd"><img src="themes/tf_standard_themes/images/s_down.gif" width="9" height="9" border="0"></a>
						<tmpl_elseif name="sortOrder" value="dd">
							<a href="index.php?iid=index&so=da"><font class="adminlink">#</font></a>
							<a href="index.php?iid=index&so=da"><img src="themes/tf_standard_themes/images/s_up.gif" width="9" height="9" border="0"></a>
						<tmpl_else>
							<a href="index.php?iid=index&so=dd"><font class="adminlink">#</font></a>
						</tmpl_if>
					</div></td>
					<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">
						<tmpl_if name="sortOrder" value="na">
							<a href="index.php?iid=index&so=nd"><font class="adminlink"><tmpl_var name="user">: <tmpl_var name="_TRANSFERFILE"></font></a>
							<a href="index.php?iid=index&so=nd"><img src="themes/tf_standard_themes/images/s_down.gif" width="9" height="9" border="0"></a>
						<tmpl_elseif name="sortOrder" value="nd">
							<a href="index.php?iid=index&so=na"><font class="adminlink"><tmpl_var name="user">: <tmpl_var name="_TRANSFERFILE"></font></a>
							<a href="index.php?iid=index&so=na"><img src="themes/tf_standard_themes/images/s_up.gif" width="9" height="9" border="0"></a>
						<tmpl_else>
							<a href="index.php?iid=index&so=na"><font class="adminlink"><tmpl_var name="user">: <tmpl_var name="_TRANSFERFILE"></font></a>
						</tmpl_if>
					</div></td>
					<tmpl_if name="settings_0">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_USER"></div></td>
					</tmpl_if>
					<tmpl_if name="settings_1">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Size</div></td>
					</tmpl_if>
					<tmpl_if name="settings_2">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">T. Down</div></td>
					</tmpl_if>
					<tmpl_if name="settings_3">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">T. Up</div></td>
					</tmpl_if>
					<tmpl_if name="settings_4">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_STATUS"></div></td>
					</tmpl_if>
					<tmpl_if name="settings_5">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Progress</div></td>
					</tmpl_if>
					<tmpl_if name="settings_6">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Down</div></td>
					</tmpl_if>
					<tmpl_if name="settings_7">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Up</div></td>
					</tmpl_if>
					<tmpl_if name="settings_8">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Seeds</div></td>
					</tmpl_if>
					<tmpl_if name="settings_9">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Peers</div></td>
					</tmpl_if>
					<tmpl_if name="settings_10">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_ESTIMATEDTIME"></div></td>
					</tmpl_if>
					<tmpl_if name="settings_11">
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">C</div></td>
					</tmpl_if>
					<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_ADMIN"></div></td>
				</tr>
					<tmpl_loop name="arUserTorrent">
						<a href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')">
						<tr onmouseover="className='bg';" onmouseout="className='fg';">
							<td valign="bottom" align="center" nowrap>
								<tmpl_if name="transferRunning" value="1">
									<a href="JavaScript:ShowDetails('index.php?iid=downloadhosts&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/<tmpl_var name="hd_image">" width="16" height="16" title="<tmpl_var name="hd_title"><tmpl_var name="entry">" border="0" align="absmiddle"></a>
								<tmpl_else>
									<img src="themes/tf_standard_themes/images/<tmpl_var name="hd_image">" width="16" height="16" title="<tmpl_var name="hd_title"><tmpl_var name="entry">" border="0" align="absmiddle">
								</tmpl_if>
								<tmpl_if name="enable_torrent_download">
									<a href="index.php?iid=maketorrent&download=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/down.gif" width=9 height=9 title="Download Torrent File" border=0 align="absmiddle"></a>
								</tmpl_if>
							</td>
							<td valign="bottom" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="displayname"></a></td>
							<tmpl_if name="settings_0">
								<td valign="bottom" align="center" nowrap><a href="index.php?iid=message&to_user=<tmpl_var name="transferowner">"><font class="tiny"><tmpl_var name="transferowner"></font></a></td>
							</tmpl_if>
							<tmpl_if name="settings_1">
								<td valign="bottom" align="right" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="format_af_size"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_2">
								<td valign="bottom" align="right" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="format_downtotal"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_3">
								<td valign="bottom" align="right" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="format_uptotal"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_4">
								<td valign="bottom" align="center" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="statusStr"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_5">
								<td valign="bottom" align="center" nowrap>
									<tmpl_if name="graph_width" value="-1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><strong><tmpl_var name="percentage"></strong></a>
									<tmpl_else>
										<tmpl_if name="transferRunning" op="<" value="2">
											<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><strong><tmpl_var name="percentage"></strong></a>
											<br>
											<table width="100" cellpadding="0" cellspacing="0" border="0"><tr>
												<td background="themes/<tmpl_var name="theme">/images/progressbar.gif" bgcolor="<tmpl_var name="progress_color">"><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/blank.gif" width="<tmpl_var name="graph_width">" height="<tmpl_var name="bar_width">" border="0"></a></td>
												<td bgcolor="<tmpl_var name="background">"><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/blank.gif" width="<tmpl_var name="100_graph_width">" height="<tmpl_var name="bar_width">" border="0"></a></td>
											</tr></table>
										<tmpl_else>
											&nbsp;
										</tmpl_if>
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_6">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="down_speed"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_7">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="up_speed"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_8">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="seeds"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_9">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="peers"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_10">
								<td valign="bottom" align="center" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="estTime"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_11">
								<td valign="bottom" align="center"><tmpl_var name="client"></a></td>
							</tmpl_if>
							<td nowrap>
								<div align="center" class="admincell">
									<a href="index.php?iid=details&torrent=<tmpl_var name="url_entry"><tmpl_if name="transferRunning" value="1">&als=false</tmpl_if>"><img src="themes/tf_standard_themes/images/properties.png" width="18" height="13" title="<tmpl_var name="_TRANSFERDETAILS">" border="0"></a>
									<a href="index.php?iid=dir&dir=<tmpl_var name="url_path">"><img src="themes/tf_standard_themes/images/datadir.gif" title="<tmpl_var name="datapath">" border="0"></a>
									<tmpl_if name="is_owner">
										<tmpl_if name="transferRunning" value="1">
											<tmpl_if name="isTorrent">
												<a href="index.php?iid=index&alias_file=<tmpl_var name="alias">&kill_torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/kill.gif" width="16" height="16" border="0" title="<tmpl_var name="_STOPTRANSFER">"></a>
												<img src="themes/tf_standard_themes/images/delete_off.gif" width=16 height=16 border=0>
												<tmpl_if name="enable_multiops">
													<input type="checkbox" name="transfer[]" value="<tmpl_var name="url_entry">">
												</tmpl_if>
											<tmpl_else>
												<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="-">
												<img src="themes/tf_standard_themes/images/delete_off.gif" width=16 height=16 border=0>
												<input type="checkbox" disabled="disabled">
											</tmpl_if>
										<tmpl_else>
											<tmpl_if name="transferowner" value="n/a">
												<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="<tmpl_var name="_NOTOWNER">">
											<tmpl_else>
												<tmpl_if name="transferRunning" value="3">
													<a href="index.php?iid=index&alias_file=<tmpl_var name="alias">&QEntry=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/queued.gif" width="16" height="16" border="0" title="<tmpl_var name="_DELQUEUE">"></a>
												<tmpl_else>
													<tmpl_if name="is_no_file">
														<tmpl_if name="isTorrent">
															<tmpl_if name="advanced_start">
																	<tmpl_if name="show_run">
																		<a href="#" onclick="StartTorrent('index.php?iid=startpop&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">" border="0"></a>
																	<tmpl_else>
																		<a href="#" onclick="StartTorrent('index.php?iid=startpop&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/seed_on.gif" width="16" height="16" title="<tmpl_var name="_SEEDTRANSFER">" border="0"></a>
																	</tmpl_if>
															<tmpl_else>
																<tmpl_if name="show_run">
																	<a href="index.php?iid=index&torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">" border="0"></a>
																<tmpl_else>
																	<a href="index.php?iid=index&torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/seed_on.gif" width="16" height="16" title="<tmpl_var name="_SEEDTRANSFER">" border="0"></a>
																</tmpl_if>
															</tmpl_if>
														<tmpl_else>
															<tmpl_if name="show_run">
																<a href="index.php?iid=index&torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">" border="0"></a>
															<tmpl_else>
																<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="Done">
															</tmpl_if>
														</tmpl_if>
													<tmpl_else>
														<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="<tmpl_var name="_STOPPING">">
													</tmpl_if>
												</tmpl_if>
											</tmpl_if>
										<tmpl_if name="is_no_file">
											<a href="index.php?iid=index&alias_file=<tmpl_var name="alias">&delfile=<tmpl_var name="url_entry">" onclick="return confirm('Delete <tmpl_var name="entry"> ?')"><img src="themes/tf_standard_themes/images/delete_on.gif" width=16 height=16 title="<tmpl_var name="_DELETE">" border=0></a>
										<tmpl_else>
											<img src="themes/tf_standard_themes/images/delete_off.gif" width="16" height="16" title="<tmpl_var name="_STOPPING">" border=0>
										</tmpl_if>
										<tmpl_if name="enable_multiops">
											<input type="checkbox" name="transfer[]" value="<tmpl_var name="url_entry">">
										</tmpl_if>
									</tmpl_if>
								<tmpl_else>
									<img src="themes/tf_standard_themes/images/locked.gif" width="16" height="16" border="0" title="<tmpl_var name="_NOTOWNER">">
									<img src="themes/tf_standard_themes/images/locked.gif" width="16" height="16" border="0" title="<tmpl_var name="_NOTOWNER">">
									<input type="checkbox" disabled="disabled">
								</tmpl_if>
							</div></td>
						</tr>
						</a>
					</tmpl_loop>
				</tmpl_if>
				<tmpl_if name="are_torrent">
					<tr>
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">
							<tmpl_if name="sortOrder" value="da">
								<a href="index.php?iid=index&so=dd"><font class="adminlink">#</font></a>
								<a href="index.php?iid=index&so=dd"><img src="themes/tf_standard_themes/images/s_down.gif" width="9" height="9" border="0"></a>
							<tmpl_elseif name="sortOrder" value="dd">
								<a href="index.php?iid=index&so=da"><font class="adminlink">#</font></a>
								<a href="index.php?iid=index&so=da"><img src="themes/tf_standard_themes/images/s_up.gif" width="9" height="9" border="0"></a>
							<tmpl_else>
								<a href="index.php?iid=index&so=dd"><font class="adminlink">#</font></a>
							</tmpl_if>
						</div></td>
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">
							<tmpl_if name="sortOrder" value="na">
								<a href="index.php?iid=index&so=nd"><font class="adminlink"><tmpl_var name="user">: <tmpl_var name="_TRANSFERFILE"></font></a>
								<a href="index.php?iid=index&so=nd"><img src="themes/tf_standard_themes/images/s_down.gif" width="9" height="9" border="0"></a>
							<tmpl_elseif name="sortOrder" value="nd">
								<a href="index.php?iid=index&so=na"><font class="adminlink"><tmpl_var name="user">: <tmpl_var name="_TRANSFERFILE"></font></a>
								<a href="index.php?iid=index&so=na"><img src="themes/tf_standard_themes/images/s_up.gif" width="9" height="9" border="0"></a>
							<tmpl_else>
								<a href="index.php?iid=index&so=na"><font class="adminlink"><tmpl_var name="_TRANSFERFILE"></font></a>
							</tmpl_if>
						</div></td>
						<tmpl_if name="settings_0">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_USER"></div></td>
						</tmpl_if>
						<tmpl_if name="settings_1">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Size</div></td>
						</tmpl_if>
						<tmpl_if name="settings_2">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">T. Down</div></td>
						</tmpl_if>
						<tmpl_if name="settings_3">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">T. Up</div></td>
						</tmpl_if>
						<tmpl_if name="settings_4">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_STATUS"></div></td>
						</tmpl_if>
						<tmpl_if name="settings_5">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Progress</div></td>
						</tmpl_if>
						<tmpl_if name="settings_6">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Down</div></td>
						</tmpl_if>
						<tmpl_if name="settings_7">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Up</div></td>
						</tmpl_if>
						<tmpl_if name="settings_8">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Seeds</div></td>
						</tmpl_if>
						<tmpl_if name="settings_9">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">Peers</div></td>
						</tmpl_if>
						<tmpl_if name="settings_10">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_ESTIMATEDTIME"></div></td>
						</tmpl_if>
						<tmpl_if name="settings_11">
							<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title">C</div></td>
						</tmpl_if>
						<td background="themes/<tmpl_var name="theme">/images/bar.gif" bgcolor="<tmpl_var name="table_header_bg">" nowrap><div align="center" class="title"><tmpl_var name="_ADMIN"></div></td>
					</tr>
					<tmpl_loop name="arListTorrent">
						<a href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')">
						<tr onmouseover="className='bg';" onmouseout="className='fg';">
							<td valign="bottom" align="center" nowrap>
								<tmpl_if name="transferRunning" value="1">
									<a href="JavaScript:ShowDetails('index.php?iid=downloadhosts&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/<tmpl_var name="hd_image">" width="16" height="16" title="<tmpl_var name="hd_title"><tmpl_var name="entry">" border="0" align="absmiddle"></a>
								<tmpl_else>
									<img src="themes/tf_standard_themes/images/<tmpl_var name="hd_image">" width="16" height="16" title="<tmpl_var name="hd_title"><tmpl_var name="entry">" border="0" align="absmiddle">
								</tmpl_if>
								<tmpl_if name="enable_torrent_download">
									<a href="index.php?iid=maketorrent&download=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/down.gif" width=9 height=9 title="Download Torrent File" border=0 align="absmiddle"></a>
								</tmpl_if>
							</td>
							<td valign="bottom" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="displayname"></a></td>
							<tmpl_if name="settings_0">
								<td valign="bottom" align="center" nowrap><a href="index.php?iid=message&to_user=<tmpl_var name="transferowner">"><font class="tiny"><tmpl_var name="transferowner"></font></a></td>
							</tmpl_if>
							<tmpl_if name="settings_1">
								<td valign="bottom" align="right" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="format_af_size"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_2">
								<td valign="bottom" align="right" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="format_downtotal"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_3">
								<td valign="bottom" align="right" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="format_downtotal"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_4">
								<td valign="bottom" align="center" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="statusStr"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_5">
								<td valign="bottom" align="center" nowrap>
									<tmpl_if name="graph_width" value="-1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><strong><tmpl_var name="percentage"></strong></a>
									<tmpl_else>
										<tmpl_if name="transferRunning" op="<" value="2">
											<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><strong><tmpl_var name="percentage"></strong></a>
											<br>
											<table width="100" cellpadding="0" cellspacing="0" border="0"><tr>
												<td background="themes/<tmpl_var name="theme">/images/progressbar.gif" bgcolor="<tmpl_var name="progress_color">"><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/blank.gif" width="<tmpl_var name="graph_width">" height="<tmpl_var name="bar_width">" border="0"></a></td>
												<td bgcolor="<tmpl_var name="background">"><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/blank.gif" width="<tmpl_var name="100_graph_width">" height="<tmpl_var name="bar_width">" border="0"></a></td>
											</tr></table>
										<tmpl_else>
											&nbsp;
										</tmpl_if>
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_6">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="down_speed"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_7">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="up_speed"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_8">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="seeds"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_9">
								<td valign="bottom" align="right" nowrap>
									<tmpl_if name="transferRunning" value="1">
										<a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="peers"></a>
									<tmpl_else>
										&nbsp;
									</tmpl_if>
								</td>
							</tmpl_if>
							<tmpl_if name="settings_10">
								<td valign="bottom" align="center" nowrap><a style="font-size:9px; text-decoration:none;" href="JavaScript:ShowDetails('index.php?iid=downloaddetails&alias=<tmpl_var name="alias">&torrent=<tmpl_var name="url_entry">')"><tmpl_var name="estTime"></a></td>
							</tmpl_if>
							<tmpl_if name="settings_11">
								<td valign="bottom" align="center"><tmpl_var name="client"></a></td>
							</tmpl_if>
							<td nowrap>
								<div align="center" class="admincell">
									<a href="index.php?iid=details&torrent=<tmpl_var name="url_entry"><tmpl_if name="transferRunning" value="1">&als=false</tmpl_if>"><img src="themes/tf_standard_themes/images/properties.png" width="18" height="13" title="<tmpl_var name="_TRANSFERDETAILS">" border="0"></a>
									<a href="index.php?iid=dir&dir=<tmpl_var name="url_path">"><img src="themes/tf_standard_themes/images/datadir.gif" title="<tmpl_var name="datapath">" border="0"></a>
									<tmpl_if name="is_owner">
										<tmpl_if name="transferRunning" value="1">
											<tmpl_if name="isTorrent">
												<a href="index.php?iid=index&alias_file=<tmpl_var name="alias">&kill_torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/kill.gif" width="16" height="16" border="0" title="<tmpl_var name="_STOPTRANSFER">"></a>
												<img src="themes/tf_standard_themes/images/delete_off.gif" width=16 height=16 border=0>
												<tmpl_if name="enable_multiops">
													<input type="checkbox" name="transfer[]" value="<tmpl_var name="url_entry">">
												</tmpl_if>
											<tmpl_else>
												<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="-">
												<img src="themes/tf_standard_themes/images/delete_off.gif" width=16 height=16 border=0>
												<input type="checkbox" disabled="disabled">
											</tmpl_if>
										<tmpl_else>
											<tmpl_if name="transferowner" value="n/a">
												<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="<tmpl_var name="_NOTOWNER">">
											<tmpl_else>
												<tmpl_if name="transferRunning" value="3">
													<a href="index.php?iid=index&alias_file=<tmpl_var name="alias">&QEntry=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/queued.gif" width="16" height="16" border="0" title="<tmpl_var name="_DELQUEUE">"></a>
												<tmpl_else>
													<tmpl_if name="is_no_file">
														<tmpl_if name="isTorrent">
															<tmpl_if name="advanced_start">
																<tmpl_if name="show_run">
																	<a href="#" onclick="StartTorrent('index.php?iid=startpop&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">" border="0"></a>
																<tmpl_else>
																	<a href="#" onclick="StartTorrent('index.php?iid=startpop&torrent=<tmpl_var name="url_entry">')"><img src="themes/tf_standard_themes/images/seed_on.gif" width="16" height="16" title="<tmpl_var name="_SEEDTRANSFER">" border="0"></a>
																</tmpl_if>
															<tmpl_else>
																<tmpl_if name="show_run">
																	<a href="index.php?iid=index&torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">" border="0"></a>
																<tmpl_else>
																	<a href="index.php?iid=index&torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/seed_on.gif" width="16" height="16" title="<tmpl_var name="_SEEDTRANSFER">" border="0"></a>
																</tmpl_if>
															</tmpl_if>
														<tmpl_else>
															<tmpl_if name="show_run">
																<a href="index.php?iid=index&torrent=<tmpl_var name="url_entry">"><img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">" border="0"></a>
															<tmpl_else>
																<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="Done">
															</tmpl_if>
														</tmpl_if>
													<tmpl_else>
														<img src="themes/tf_standard_themes/images/run_off.gif" width="16" height="16" border="0" title="<tmpl_var name="_STOPPING">">
													</tmpl_if>
												</tmpl_if>
											</tmpl_if>
										<tmpl_if name="is_no_file">
											<a href="index.php?iid=index&alias_file=<tmpl_var name="alias">&delfile=<tmpl_var name="url_entry">" onclick="return confirm('Delete <tmpl_var name="entry"> ?')"><img src="themes/tf_standard_themes/images/delete_on.gif" width=16 height=16 title="<tmpl_var name="_DELETE">" border=0></a>
										<tmpl_else>
											<img src="themes/tf_standard_themes/images/delete_off.gif" width="16" height="16" title="<tmpl_var name="_STOPPING">" border=0>
										</tmpl_if>
										<tmpl_if name="enable_multiops">
											<input type="checkbox" name="transfer[]" value="<tmpl_var name="url_entry">">
										</tmpl_if>
									</tmpl_if>
								<tmpl_else>
									<img src="themes/tf_standard_themes/images/locked.gif" width="16" height="16" border="0" title="<tmpl_var name="_NOTOWNER">">
									<img src="themes/tf_standard_themes/images/locked.gif" width="16" height="16" border="0" title="<tmpl_var name="_NOTOWNER">">
									<input type="checkbox" disabled="disabled">
								</tmpl_if>
							</div></td>
						</tr>
						</a>
					</tmpl_loop>
				</tmpl_if>
			<table bgcolor="<tmpl_var name="table_data_bg">" width="100%" bordercolor="<tmpl_var name="table_border_dk">" border="0" cellpadding=3 cellspacing=0>
				<tr>
					<td bgcolor="<tmpl_var name="table_header_bg">">
						<table width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td valign="top">
									<div align="right">
										<table>
											<tr>
												<td>
													<img src="themes/tf_standard_themes/images/properties.png" width="18" height="13" title="<tmpl_var name="_TRANSFERDETAILS">"></td>
												<td class="tiny">
													<tmpl_var name="_TRANSFERDETAILS">&nbsp;&nbsp;&nbsp;</td>
												<td>
													<img src="themes/tf_standard_themes/images/run_on.gif" width="16" height="16" title="<tmpl_var name="_RUNTRANSFER">"></td>
												<td class="tiny">
													<tmpl_var name="_RUNTRANSFER">&nbsp;&nbsp;&nbsp;</td>
												<td>
													<img src="themes/tf_standard_themes/images/kill.gif" width="16" height="16" title="<tmpl_var name="_STOPTRANSFER">"></td>
												<td class="tiny">
													<tmpl_var name="_STOPTRANSFER">&nbsp;&nbsp;&nbsp;</td>
												<tmpl_if name="queueActive" value="1">
													<td>
														<img src="themes/tf_standard_themes/images/queued.gif" width="16" height="16" title="<tmpl_var name="_DELQUEUE">"></td>
													<td class="tiny">
														<tmpl_var name="_DELQUEUE">&nbsp;&nbsp;&nbsp;</td>
												</tmpl_if>
												<td>
													<img src="themes/tf_standard_themes/images/seed_on.gif" width="16" height="16" title="<tmpl_var name="_SEEDTRANSFER">"></td>
												<td class="tiny">
													<tmpl_var name="_SEEDTRANSFER">&nbsp;&nbsp;&nbsp;</td>
												<td>
													<img src="themes/tf_standard_themes/images/delete_on.gif" width="16" height="16" title="<tmpl_var name="_DELETE">"></td>
												<td class="tiny">
													<tmpl_var name="_DELETE"></td>
												<tmpl_if name="enable_torrent_download">
													<td>
														&nbsp;&nbsp;&nbsp;<img src="themes/tf_standard_themes/images/down.gif" width="9" height="9" title="<tmpl_var name="_DELQUEUE">"></td>
													<td class="tiny">
														Download Torrent</td>
												</tmpl_if>
												<tmpl_if name="enable_bulkops">
													<td class="tiny" align="right" nowrap>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<a href="index.php?iid=dispatcher&action=bulkStart" onclick="return confirm('Start All Torrents ?')"><img src="themes/tf_standard_themes/images/bulkstart.png" width="20" height="20" border="0" title="Start All Torrents"></a>
														<a href="index.php?iid=dispatcher&action=bulkResume" onclick="return confirm('Resume All Torrents ?')"><img src="themes/tf_standard_themes/images/bulkresume.png" width="20" height="20" border="0" title="Resume All Torrents"></a>
														<a href="index.php?iid=dispatcher&action=bulkStop" onclick="return confirm('Stop All Torrents ?')"><img src="themes/tf_standard_themes/images/bulkstop.png" width="20" height="20" border="0" title="Stop All Torrents"></a>
													</td>
												</tmpl_if>
												<tmpl_if name="enable_multiops">
													<td class="tiny" align="right" nowrap>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<select name="action" size="1">
															<option value="---" selected>---</option>
															<option value="transferStart" style="background-color: #00EC00">Start [BTMW]</option>
															<option value="transferStop" style="background-color: #94ABC0">Stop [BTM]</option>
															<tmpl_if name="queueActive" value="1">
																<option value="transferEnQueue" style="background-color: #FFFC00">EnQueue [BTM]</option>
																<option value="transferDeQueue" style="background-color: #FFFC00">DeQueue [BTM]</option>
															</tmpl_if>
															<option value="transfer" style="background-color: #DDAAAA">Delete [BTMW]</option>
															<option value="transferData" style="background-color: #DDAAAA">Delete with Data [BTM]</option>
															<option value="transferResetTotals" style="background-color: #DDAAAA">Reset Totals [BTM]</option>
															<option value="transferWipe" style="background-color: #DDAAAA">Wipe [BTM]</option>
														</select>
														<input type="submit" value="Go">
														<input type="checkbox" name="bulkBox" onclick="bulkCheck(this);">
													</td>
												</tmpl_if>
											</tr>
										</table>
									</form>
								</div>
								<div align="center" class="tiny">
									<tmpl_if name="page_refresh">
										<a href="index.php?iid=dispatcher&action=set&key=index_meta_refresh&val=0" style="font-size:10px; text-decoration:none;">
											<tmpl_var name="_PAGEWILLREFRESH"> <span id='span_refresh'><tmpl_var name="page_refresh"></span> <tmpl_var name="_SECONDS">
										</a>
										<br>
									<tmpl_else>
										<a href="index.php?iid=dispatcher&action=set&key=index_meta_refresh&val=1" style="font-size:10px; text-decoration:none;">
											<tmpl_var name="_TURNONREFRESH">
										</a>
										<br>
									</tmpl_if>
									<tmpl_if name="index_ajax_update">
										<a href="index.php?iid=dispatcher&action=set&key=index_ajax_update&val=0" style="font-size:10px; text-decoration:none;">
											AJAX-Update every <span id='span_update'><tmpl_var name="index_ajax_update"></span> <tmpl_var name="_SECONDS">
										</a>
										<br>
									<tmpl_else>
										<a href="index.php?iid=dispatcher&action=set&key=index_ajax_update&val=1" style="font-size:10px; text-decoration:none;">
											Turn ON AJAX-Update
										</a>
										<br>
									</tmpl_if>
									<tmpl_if name="onLoad">
										<a href="index.php?iid=dispatcher&action=set&key=_all_&val=0" style="font-size:10px; text-decoration:none;">
											<tmpl_var name="_TURNOFFREFRESH"> AND AJAX-Update
										</a>
										<br>
									</tmpl_if>
								</div>
								<tmpl_if name="index_page_stats">
									<div align="center">
										<table width="100%">
											<tr>
												<tmpl_if name="xfer_realtime">
													<td class="tiny" align="left" valign="bottom">
														<b><tmpl_var name="_SERVERXFERSTATS"></b><br>
														<tmpl_var name="_TOTALXFER">: <strong><tmpl_var name="totalxfer1"></strong><br>
														<tmpl_var name="_MONTHXFER">: <strong><tmpl_var name="monthxfer1"></strong><br>
														<tmpl_var name="_WEEKXFER">: <strong><tmpl_var name="weekxfer1"></strong><br>
														<tmpl_var name="_DAYXFER">: <strong><tmpl_var name="dayxfer1"></strong><br>
													</td>
												</tmpl_if>
												<tmpl_if name="queueActive" value="1">
													<td align="center" valign="bottom">
														<div class="tiny">
															<b><tmpl_var name="_QUEUEMANAGER"></b><br>
															<strong><tmpl_var name="runningTransferCount"></strong> transfer(s) running and <strong><tmpl_var name="countQueuedTorrents"></strong> queued.<br>
															Total transfers server will run: <strong><tmpl_var name="limitGlobal"></strong><br>
															Total transfers a user may run: <strong><tmpl_var name="limitUser"></strong><br>
														</div>
													</td>
												</tmpl_if>
												<td class="tiny" align="center" valign="bottom">
													<b><tmpl_var name="_OTHERSERVERSTATS"></b><br>
													<tmpl_var name="_DOWNLOADSPEED">: <strong><label id="b_speedDown"><tmpl_var name="downloadspeed1"></label> (<tmpl_var name="downloadspeed11">)</strong> kB/s<br>
													<tmpl_var name="_UPLOADSPEED">: <strong><label id="b_speedUp"><tmpl_var name="uploadspeed1"></label> (<tmpl_var name="uploadspeed11">)</strong> kB/s<br>
													<tmpl_var name="_TOTALSPEED">: <strong><label id="b_speedTotal"><tmpl_var name="totalspeed1"></label> (<tmpl_var name="totalspeed11">)</strong> kB/s<br>
													<tmpl_var name="_ID_CONNECTIONS">: <strong><label id="b_connections"><tmpl_var name="id_connections1"></label> <tmpl_var name="id_connections11"></strong><br>
													<tmpl_var name="_DRIVESPACE">: <strong><label id="b_freeSpace"><tmpl_var name="drivespace1"></label></strong><br>
													<tmpl_var name="_SERVERLOAD">: <strong><label id="b_loadavg"><tmpl_var name="serverload1"></label></strong>
												</td>
												<tmpl_if name="xfer_realtime">
													<td class="tiny" align="right" valign="bottom">
														<b><tmpl_var name="_YOURXFERSTATS"></b><br>
														<tmpl_var name="_TOTALXFER">: <strong><tmpl_var name="total2"></strong><br>
														<tmpl_var name="_MONTHXFER">: <strong><tmpl_var name="month2"></strong><br>
														<tmpl_var name="_WEEKXFER">: <strong><tmpl_var name="week2"></strong><br>
														<tmpl_var name="_DAYXFER">: <strong><tmpl_var name="day2"></strong><br>
													</td>
												</tmpl_if>
											</tr>
										</table>
									</div>
								</tmpl_if>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<tmpl_if name="ui_displayfluxlink">
			<div align="right">
				<a href="http://tf-b4rt.berlios.de" target="_blank"><font class="tinywhite">torrentflux-b4rt <tmpl_var name="version"></font></a>&nbsp;&nbsp;
				<script language="JavaScript">
					function SuperAdmin(name_file) {
						window.open (name_file,"_blank","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=600")
					}
				</script>
				<a href="JavaScript:SuperAdmin('superadmin.php?z=1')">
					<img src="themes/tf_standard_themes/images/arrow.gif" width="9" height="9" title="Version" border="0">
				</a>
			</div>
		</tmpl_if>
		<tmpl_if name="IsForceReadMsg">
			<script language="JavaScript">
				if (confirm("tmpl_if name="_ADMINMESSAGE">")) {
					document.location = "index.php?iid=readmsg";
				}
			</script>
		</tmpl_if>
	</td>
	</tr>
	</table>
</div>
</body>
</html>