<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
					</td>
				</tr>
			</table>
			[<a href="#" onclick="window.opener.location.reload();window.close();">Close Window</a>]
		</td>
	</tr>
</table>
<tmpl_var name="getTorrentFluxLink">
</body>
</html>