<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<HEAD>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1" />
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache" />
	<TITLE><tmpl_var name="pagetitle"> - Torrent Maker</TITLE>
	<LINK REL="icon" HREF="themes/tf_standard_themes/images/favicon.ico" TYPE="image/x-icon" />
	<LINK REL="shortcut icon" HREF="themes/tf_standard_themes/images/favicon.ico" TYPE="image/x-icon" />
	<LINK REL="StyleSheet" HREF="themes/<tmpl_var name="theme">/style.css" TYPE="text/css" />
</HEAD>
<body topmargin="8" leftmargin="5" bgcolor="<tmpl_var name="main_bgcolor">" style="font-family:Tahoma, 'Times New Roman'; font-size:12px;" onLoad="
<tmpl_if name="onLoad">
	<tmpl_var name="onLoad">
</tmpl_if>
">
<div align="center">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<table border="1" bordercolor="<tmpl_var name="table_border_dk">" cellpadding="4" cellspacing="0">
					<tr>
						<td bgcolor="<tmpl_var name="main_bgcolor">" background="themes/<tmpl_var name="theme">/images/bar.gif">
							<tmpl_var name="getTitleBar">
						</td>
					</tr>
					<tr>
						<td bgcolor="<tmpl_var name="table_header_bg">">
							<div align="left">
								<table bgcolor="<tmpl_var name="body_data_bg">">
									<tr>
										<td>
											<table width="100%">
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_DOWNLOADSPEED">:</td>
													<td width="50%" align="right" nowrap><label id="speedDown"><tmpl_var name="_DOWNLOADSPEED"></label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_UPLOADSPEED">:</td>
													<td width="50%" align="right" nowrap><label id="speedUp"><tmpl_var name="_UPLOADSPEED"></label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_TOTALSPEED">:</td>
													<td width="50%" align="right" nowrap><label id="speedTotal"><tmpl_var name="_TOTALSPEED"></label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_ID_CONNECTIONS">:</td>
													<td width="50%" align="right" nowrap><label id="connections"><tmpl_var name="_ID_CONNECTIONS"></label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_DRIVESPACE">:</td>
													<td width="50%" align="right" nowrap><label id="freeSpace"><tmpl_var name="_DRIVESPACE"></label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_SERVERLOAD">:</td>
													<td width="50%" align="right" nowrap><label id="loadavg"><tmpl_var name="_SERVERLOAD"></label></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
				<tmpl_var name="getTorrentFluxLink">
			</td>
		</tr>
	</table>
</div>
</body>
</html>