<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="Pragma" content="no-cache" />
	<title><tmpl_var name="pagetitle"> - Server Monitor</title>
	<link rel="icon" href="themes/tf_standard_themes/images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="themes/tf_standard_themes/images/favicon.ico" type="image/x-icon" />
	<link rel="StyleSheet" href="themes/<tmpl_var name="theme">/style.css" type="text/css" />
	<script src="js/servermon.js" type="text/javascript"></script>
</head>
<body topmargin="8" leftmargin="5" bgcolor="<tmpl_var name="main_bgcolor">" style="font-family:Tahoma, 'Times New Roman'; font-size:12px;" onLoad="<tmpl_var name="onLoad">">
<div align="center">
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				<table border="1" bordercolor="<tmpl_var name="table_border_dk">" cellpadding="4" cellspacing="0">
					<tr>
						<td bgcolor="<tmpl_var name="main_bgcolor">" background="themes/<tmpl_var name="theme">/images/bar.gif">
							<tmpl_var name="titleBar">
						</td>
					</tr>
					<tr>
						<td bgcolor="<tmpl_var name="table_header_bg">">
							<div align="left">
								<table width="100%" bgcolor="<tmpl_var name="body_data_bg">">
									<tr>
										<td>
											<table width="100%">
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_DOWNLOADSPEED">:</td>
													<td width="50%" align="right" nowrap><label id="speedDown">0.00</label> kB/s</td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_UPLOADSPEED">:</td>
													<td width="50%" align="right" nowrap><label id="speedUp">0.00</label> kB/s</td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_TOTALSPEED">:</td>
													<td width="50%" align="right" nowrap><label id="speedTotal">0.00</label> kB/s</td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_ID_CONNECTIONS">:</td>
													<td width="50%" align="right" nowrap><label id="connections">0</label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_DRIVESPACE">:</td>
													<td width="50%" align="right" nowrap><label id="freeSpace">0.00</label></td>
												</tr>
												<tr>
													<td width="50%" align="right" nowrap><b><tmpl_var name="_SERVERLOAD">:</td>
													<td width="50%" align="right" nowrap><label id="loadavg">0.00</label></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</div>
						</td>
					</tr>
				</table>
				<tmpl_var name="torrentFluxLink">
			</td>
		</tr>
	</table>
</div>
</body>
</html>