<div id="upload">
	<div id="uploadLast"></div>
	<div id="uploadFirst">
		<span class="upload">
			<tmpl_if name="sortOrder" value="da">
				<a id="closeLink" href="index.php?iid=index&so=dd" onclick="return actionClick(true)">#<img src="themes/new/pics/s_down.jpg"></a>
			<tmpl_elseif name="sortOrder" value="dd">
				<a id="closeLink" href="index.php?iid=index&so=da" onclick="return actionClick(true)">#<img src="themes/new/pics/s_up.jpg"></a>
			<tmpl_else>
				<a id="closeLink" href="index.php?iid=index&so=dd" onclick="return actionClick(true)">#</a>
			</tmpl_if>
			<tmpl_if name="sortOrder" value="na">
				<a id="closeLink" href="index.php?iid=index&so=nd" onclick="return actionClick(true)"><tmpl_var name="_TRANSFERFILE"><img src="themes/new/pics/s_down.jpg"></a>
			<tmpl_elseif name="sortOrder" value="nd">
				<a id="closeLink" href="index.php?iid=index&so=na" onclick="return actionClick(true)"><tmpl_var name="_TRANSFERFILE"><img src="themes/new/pics/s_up.jpg"></a>
			<tmpl_else>
				<a id="closeLink" href="index.php?iid=index&so=na" onclick="return actionClick(true)"><tmpl_var name="_TRANSFERFILE"></a>
			</tmpl_if>
			<tmpl_if name="settings_0">
				<tmpl_var name="_USER">
			</tmpl_if>
			<tmpl_if name="settings_1">
				Size
			</tmpl_if>
			<tmpl_if name="settings_2">
				T. Down
			</tmpl_if>
			<tmpl_if name="settings_3">
				T. Up
			</tmpl_if>
			<tmpl_if name="settings_4">
				<tmpl_var name="_STATUS">
			</tmpl_if>
			<tmpl_if name="settings_5">
				Progress
			</tmpl_if>
			<tmpl_if name="settings_6">
				Down
			</tmpl_if>
			<tmpl_if name="settings_7">
				Up
			</tmpl_if>
			<tmpl_if name="settings_8">
				Seeds
			</tmpl_if>
			<tmpl_if name="settings_9">
				Peers
			</tmpl_if>
			<tmpl_if name="settings_10">
				<tmpl_var name="_ESTIMATEDTIME">
			</tmpl_if>
			<tmpl_if name="settings_11">
				C
			</tmpl_if>
			<tmpl_var name="_ADMIN">
		</span>
	</div>
</div>