<table>
	<tr>
		<td align="right" nowrap>Download Speed: <input name="hack_goodlookstats_settings_0" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_0">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap>Upload Speed: <input name="hack_goodlookstats_settings_1" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_1">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap>Total Speed: <input name="hack_goodlookstats_settings_2" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_2">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap>Connections: <input name="hack_goodlookstats_settings_3" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_3">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap>Drive Space: <input name="hack_goodlookstats_settings_4" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_4">checked</tmpl_if>></td>
	</tr>
	<tr>
		<td align="right" nowrap>Server Load: <input name="hack_goodlookstats_settings_5" type="Checkbox" value="1" <tmpl_if name="goodLookingStatsForm_settings_5">checked</tmpl_if>></td>
	</tr>
</table>