<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<form action="admin.php?op=addRSS" method="post">
		<tmpl_var name="_FULLURLLINK">:
		<input type="Text" size="50" maxlength="255" name="newRSS">
		<input type="Submit" value="<tmpl_var name="_UPDATE">">
	</form>
	<br />
	<!-- Use table for final Design -->
	<tmpl_loop name="link_rss">
		<tmpl_if name="true">
			<a href="admin.php?op=deleteRSS&rid=<tmpl_var name="rid">"><tmpl_var name="_DELETE"> <tmpl_var name="rid"></a>
			<tmpl_if name="enable_dereferrer">
				<a href="index.php?iid=dereferrer&u=<tmpl_var name="link">" target="_blank"><tmpl_var name="link"></a>
			<tmpl_else>
				<a href="<tmpl_var name="link">" target="_blank"><tmpl_var name="link"></a>
			</tmpl_if>
		</tmpl_if>
		<br />
	</tmpl_loop>
	<tmpl_include name="inc.subfoot.tmpl">
</div>