<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/userSettings.js" type="text/javascript"></script>
<div id="content">
	<tmpl_var name="user_id"> <tmpl_var name="_JOINED">: <tmpl_var name="time_created">
	<br />
	<tmpl_var name="_LASTVISIT">: <tmpl_var name="last_visit">
	<br />
	<tmpl_var name="_UPLOADS">: <tmpl_var name="user_activity">
	<br />
	<tmpl_var name="_PERCENTPARTICIPATION">: <tmpl_var name="user_percent">%
	<br />
	(<tmpl_var name="_PARTICIPATIONSTATEMENT"> <tmpl_var name="days_to_keep"> <tmpl_var name="_DAYS">)
	<br />
	<tmpl_var name="_TOTALPAGEVIEWS">: <tmpl_var name="hits">
	<br />
	<tmpl_var name="_THEME">: <tmpl_var name="theme">
	<br />
	<tmpl_var name="_LANGUAGE">: <tmpl_var name="language_file">
	<br />
	<tmpl_var name="_USERTYPE">: <tmpl_var name="user_type">
	<br />
	[<a href="admin.php?op=showUserActivity&user_id=<tmpl_var name="user_id">"><tmpl_var name="_USERSACTIVITY"></a>]
	<br /><br /><br />
	<form name="theForm" action="admin.php?op=updateUser" method="post" onsubmit="return validateUser('<tmpl_var name="_USERIDREQUIRED">', '<tmpl_var name="_PASSWORDLENGTH">', '<tmpl_var name="_PASSWORDNOTMATCH">', '<tmpl_var name="_PLEASECHECKFOLLOWING">')">
		<tmpl_var name="_USER">: <input name="user_id" type="Text" value="<tmpl_var name="user_id">" size="15"><input name="org_user_id" type="Hidden" value="<tmpl_var name="user_id">">
		<br />
		<tmpl_var name="_NEWPASSWORD">: <input name="pass1" type="Password" value="" size="15"><input name="pass2" type="Password" value="" size="15">
		<br />
		<tmpl_var name="_USERTYPE">:
		<tmpl_if name="user_level" op="<=" value="1">
			<select name="userType">
				<option value="0" <tmpl_var name="selected_n">><tmpl_var name="_NORMALUSER"></option>
				<option value="1" <tmpl_var name="selected_a">><tmpl_var name="_ADMINISTRATOR"></option>
			</select>
		<tmpl_else>
			<tmpl_var name="_SUPERADMIN">
			<input type="Hidden" name="userType" value="2">
		</tmpl_if>
		<br />
		<input name="hideOffline" type="Checkbox" value="1" <tmpl_var name="hide_checked">> <tmpl_var name="_HIDEOFFLINEUSERS">
		<br />
		<input type="Submit" value="<tmpl_var name="_UPDATE">">
	</form>
	<!-- TODO <tmpl_include name="inc.userSection.tmpl"> -->
	<tmpl_include name="inc.subfoot.tmpl">
</div>