<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<div id="content">
	<form name="theForm" action="admin.php?op=updateWebappSettings" method="post" onsubmit="return validateSettings('webapp')">
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					WebApp Settings
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						Select Auth-Type
					</td>
					<td class="settingsSetting" rowspan="2">
						<tmpl_if name="auth_type_list">
							<select name="auth_type">
								<tmpl_loop name="auth_type_list">
									<option value="<tmpl_var name="avalue">"<tmpl_if name="aselected" value="1"> selected</tmpl_if>><tmpl_var name="atype"></option>
								</tmpl_loop>
							</select>
						</tmpl_if>
						<br /><br />
						<img src="image.php?i=test" border="0" title="Test-Image">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						<em>Form-Auth</em> : Standard Form-Based Auth.<br />
						<em>Form-Auth + Cookie</em> : Form-Based Auth with "Auto-Login"-Cookie.<br />
						<em>Form-Auth + Image-Validation</em> : Form-Based Auth with additional Image-Validation.<br />
						<em>Basic-Auth</em> : Basic-Auth.<br />
						<em>Basic-Passthru</em> : gets credentials of already authenticated user and passes them to webapp.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Basic-Auth Realm
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="auth_basic_realm" type="Text" maxlength="64" value="<tmpl_var name="auth_basic_realm">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the Basic-Auth Realm :<br />
						Used only if Auth-Type is "Basic-Auth".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Page-Title
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="pagetitle" type="Text" maxlength="64" value="<tmpl_var name="pagetitle">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the Page-Title.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Personal Settings
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_personal_settings">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_personal_settings" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable to allow Users to change Personal Settings.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Display Bottom-Link
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displayfluxlink">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displayfluxlink" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Link at bottom of pages.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Drivespace-Bar Style
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="drivespacebar">
							<option value="tf"
							<tmpl_if name="drivespacebar" value="tf">
								 selected
							</tmpl_if>
							>tf</option>
							<option value="xfer"
							<tmpl_if name="drivespacebar" value="xfer">
								 selected
							</tmpl_if>
							>xfer</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select Style of Drivespace-Bar.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Transfer-Stats Type
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="transferStatsType">
							<option value="standard">standard</option>
							<option value="ajax"
							<tmpl_if name="transferStatsType" value="ajax">
								 selected
							</tmpl_if>
							>ajax</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Choose Type of Transfer-Stats-Window.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Transfer-Stats Update Interval
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="transferStatsUpdate" type="Text" maxlength="3" value="<tmpl_var name="transferStatsUpdate">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Update-interval in seconds of the Transfer-Stats-Window.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Transfer-Hosts
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="transferHosts">
							<option value="1">Hostnames</option>
							<option value="0"
							<tmpl_if name="transferHosts" value="0">
								 selected
							</tmpl_if>
							>IPs</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Show IPs or Hostnames in Transfer-Hosts-Window.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Server Monitor Update Interval
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="servermon_update" type="Text" maxlength="3" value="<tmpl_var name="servermon_update">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of seconds for Server Monitor Update.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable dereferrer
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_dereferrer">
								<option value="1">true</option>
								<option value="0"
							<tmpl_if name="enable_dereferrer" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, links will be proxied over the dereferrer-page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Default Theme
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="default_theme">
							<tmpl_loop name="theme_list">
								<option value="<tmpl_var name="arThemes">" <tmpl_var name="selected">><tmpl_var name="arThemes"></option>
							</tmpl_loop>
							<optgroup label="Standard TF Themes" style="background-color: #00EC00">
								<tmpl_loop name="tfstandard_theme_list">
									<option value="<tmpl_var name="arThemes2">" <tmpl_var name="selected"> style="background-color: #FFFFFF"><tmpl_var name="arThemes"></option>
								</tmpl_loop>
							</optgroup>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select the default theme that users will have (including login screen).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Default Language
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="default_language">
							<tmpl_loop name="lang_list">
								<option value="<tmpl_var name="arLanguage">" <tmpl_var name="selected">><tmpl_var name="GetLanguageFromFile"></option>
							</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select the default language that users will have.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Days to keep Audit Actions in the Log
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="days_to_keep" type="Text" maxlength="3" value="<tmpl_var name="days_to_keep">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of days that audit actions will be held in the database.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Minutes to Keep User Online Status
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="minutes_to_keep" type="Text" maxlength="2" value="<tmpl_var name="minutes_to_keep">" size="2">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of minutes before a user status changes to offline after leaving TorrentFlux.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Minutes to Cache RSS Feeds
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="rss_cache_min" type="Text" maxlength="3" value="<tmpl_var name="rss_cache_min">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of minutes to cache the RSS XML feed on server (speeds up reload).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Template Cache
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_tmpl_cache">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_tmpl_cache" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable the Caching of the Templating-System.<br />
						<script language="JavaScript">
							function SuperAdmin(name_file) {
								window.open (name_file,"_blank","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=600")
							}
						</script>
						<a id="closeLink" href="javascript:SuperAdmin('superadmin.php?m=35')">clean template-cache</a>
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Debug-Level
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="debuglevel">
							<option value="0"<tmpl_if name="debuglevel" value="0"> selected</tmpl_if>>0</option>
							<option value="1"<tmpl_if name="debuglevel" value="1"> selected</tmpl_if>>1</option>
							<option value="2"<tmpl_if name="debuglevel" value="2"> selected</tmpl_if>>2</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the Debug-Level of the Webapp.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Show SQL Debug Statements
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="debug_sql">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="debug_sql" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						SQL Errors will always be displayed but when this feature is enabled the SQL Statement that caused the error will be displayed as well.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</div>
	</form>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>