<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<form name="theForm" method="post" action="index.php?iid=message">
		<tmpl_var name="_TO">: <input type="Text" name="to_user" value="<tmpl_var name="to_user">" size="20" readonly="true"><br />
		<tmpl_var name="_FROM">: <input type="Text" name="from_user" value="<tmpl_var name="user">" size="20" readonly="true"><br />
		<tmpl_var name="_YOURMESSAGE">:<br />
		<textarea cols="72" rows="10" name="message" wrap="hard" tabindex="1"><tmpl_var name="message"></textarea><br />
		<input type="Checkbox" name="to_all" value=1><tmpl_var name="_SENDTOALLUSERS"><br />
		<tmpl_if name="isAdmin">
			<input type="Checkbox" name="force_read" value=1><tmpl_var name="_FORCEUSERSTOREAD"><br />
		</tmpl_if>
		<input type="Submit" name="Submit" value="<tmpl_var name="_SEND">">
	</form>
	<script>document.theForm.message.focus();</script>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>