<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<div id="content">
<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				Settings
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<form name="theForm" action="admin.php?op=updateIndexSettings" method="post" onsubmit="return validateSettings('index')">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						<label for="enable_index_meta_refresh">Page Refresh</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_meta_refresh" id="enable_index_meta_refresh">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_meta_refresh" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Page Refresh.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="page_refresh">Page Refresh Interval</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="page_refresh" id="page_refresh" type="Text" maxlength="3" value="<tmpl_var name="page_refresh">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of seconds before the page refreshes.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_index_ajax_update">AJAX Update</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable AJAX Update.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_index_ajax_update_title">Page-Title AJAX Update</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_title" id="enable_index_ajax_update_title">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_title" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable update of the Page-Title in AJAX Updates.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_index_ajax_update_users">Users AJAX Update</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_users" id="enable_index_ajax_update_users">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_users" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable update of the User-List in AJAX Updates.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_index_ajax_update_list">Transfer List AJAX Update</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_list" id="enable_index_ajax_update_list">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_list" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Transfer List AJAX Update.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_index_ajax_update_silent">Silent AJAX Update</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_silent" id="enable_index_ajax_update_silent">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_silent" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable update of the User-List in AJAX Updates.<br>
						If enabled the AJAX-Update is more silent:<br>
						No "Update in Progress..." shown in Title and on Label and no Counter shown.
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="index_ajax_update">AJAX Update Interval</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="index_ajax_update" id="index_ajax_update" type="Text" maxlength="3" value="<tmpl_var name="index_ajax_update">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of seconds between AJAX-Updates.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="ui_dim_main_w">Width</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="ui_dim_main_w" id="ui_dim_main_w" type="Text" maxlength="5" value="<tmpl_var name="ui_dim_main_w">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the width of the index-page. (900).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_multiupload">Enable multi-upload</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_multiupload" id="enable_multiupload">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_multiupload" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable multi-upload.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="hack_multiupload_rows">Multi-upload - Rows</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="hack_multiupload_rows" id="hack_multiupload_rows" type="Text" maxlength="2" value="<tmpl_var name="hack_multiupload_rows">" size="2">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify rows on multi-upload page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_search">Enable Torrent Search</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_search" id="enable_search">
								<option value="1">true</option>
								<option value="0"
							<tmpl_if name="enable_search" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to perform torrent searches from the home page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="searchEngine">Default Torrent Search Engine</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="searchEngine" id="searchEngine" <tmpl_if name="autoSubmit">onchange="this.form.submit();"</tmpl_if> STYLE="width: 125px">
						<tmpl_loop name="Engine_List">
							<option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="Engine"></option>
						</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select the default search engine for torrent searches.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="ui_displaylinks">Display Links</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displaylinks" id="ui_displaylinks">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displaylinks" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Links on the index-page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="ui_displayusers">Display Users</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displayusers" id="ui_displayusers">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displayusers" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Users on the index-page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_goodlookstats">Enable Good looking statistics</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_goodlookstats" id="enable_goodlookstats">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_goodlookstats" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable "Good looking statistics".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Good looking statistics settings
					</td>
					<td class="settingsSetting" rowspan="2">
						<tmpl_include name="inc.goodLookingStatsForm.tmpl">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select Fields shown in "Good looking statistics".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_graphs">Show Graphs-Link</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_graphs" id="enable_graphs">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_graphs" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Show Graphs-Link.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="ui_displaybandwidthbars">Display Bandwidth-Bars</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displaybandwidthbars" id="ui_displaybandwidthbars">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displaybandwidthbars" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Bandwidth-Bars.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bandwidthbar">Bandwidth-Bars Style</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="bandwidthbar" id="bandwidthbar">
							<option value="tf"
							<tmpl_if name="bandwidthbar" value="tf">
								 selected
							</tmpl_if>
							>tf</option>
							<option value="xfer"
							<tmpl_if name="bandwidthbar" value="xfer">
								 selected
							</tmpl_if>
							>xfer</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select Style of Bandwidth-Bars.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bandwidth_up">Bandwidth Up</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bandwidth_up" id="bandwidth_up" type="Text" maxlength="10" value="<tmpl_var name="bandwidth_up">" size="6">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the line-speed up in kbits.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="bandwidth_down">Bandwidth Down</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bandwidth_down" id="bandwidth_down" type="Text" maxlength="10" value="<tmpl_var name="bandwidth_down">" size="6">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the line-speed down in kbits.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_bigboldwarning">Enable Big bold drivespace warning</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_bigboldwarning" id="enable_bigboldwarning">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_bigboldwarning" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable "Big bold drivespace warning"
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_restrictivetview">Only Admin can see other users transfers</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_restrictivetview" id="enable_restrictivetview">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_restrictivetview" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable "Only Admin can see other users transfers".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_metafile_download">Enable Transfer File Download</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_metafile_download" id="enable_metafile_download">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_metafile_download" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to download the transfer meta file from the transfer list view.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="index_show_seeding">Show Seeding Torrents</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="index_show_seeding" id="index_show_seeding">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="index_show_seeding" value="0">
								selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify if we show seeding torrents on the index page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="display_seeding_time">Specify if we show seeding torrents on the index page</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="display_seeding_time" id="display_seeding_time">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="display_seeding_time" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display the estimated time until your seeding reaches the cutoff you set.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_sorttable">Enable sorttable</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_sorttable" id="enable_sorttable">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_sorttable" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable Client-Side sorting of Transfer-Table.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="index_page_sortorder">Select Sort-Order</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<tmpl_include name="inc.sortOrderSettings.tmpl">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select default Sort-Order of transfers.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="transfer_window_default">Default Transfer Window</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="transfer_window_default" id="transfer_window_default">
							<tmpl_loop name="transfer_window_default_list">
								<option value="<tmpl_var name="value">"<tmpl_if name="is_selected" value="1"> selected</tmpl_if>>
									<tmpl_var name="name">
								</option>
							</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select the default-page of the transfer-windows.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_multiops">Enable multi-operations</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_multiops" id="enable_multiops">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_multiops" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable client-multi-operations. (Start/Stop/Delete/...).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_bulkops">Enable bulk-operations</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_bulkops" id="enable_bulkops">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_bulkops" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable bulk-operations. (Stop/Resume/Start).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="index_page_stats">Show Server Stats</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="index_page_stats" id="index_page_stats">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="index_page_stats" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable showing the server stats at the bottom.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="index_page_connections">Show Connections</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="index_page_connections" id="index_page_connections">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="index_page_connections" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable showing the Sum of TCP-Connections.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="show_server_load">Show Server Load</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="show_server_load" id="show_server_load">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="show_server_load" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable showing the average server load over the last 15 minutes.
					</td>
				</tr>

				<tr>
					<td class="settingsTitle">
					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>