<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<script src="js/moveSettings.js" type="text/javascript"></script>
<script src="js/resdirSettings.js" type="text/javascript"></script>
<div id="content">
	<form name="theForm" action="admin.php?op=updateDirSettings" method="post" onsubmit="return validateSettings('dir')">
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">

				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						<label for="dir_public_read">Public Read</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="dir_public_read" id="dir_public_read">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="dir_public_read" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Public Read. When enabled all users can browse through all folders.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="dir_public_write">Public Write</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="dir_public_write" id="dir_public_write">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="dir_public_write" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Public Write. When enabled all users can delete from/write to all folders.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="dir_enable_chmod">Enable chmod</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="dir_enable_chmod" id="dir_enable_chmod">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="dir_enable_chmod" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable chmod-feature.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_dirstats">Enable dir-stats</label>
					</td>
					<td class="settingsSetting" rowspan="2">
					<select name="enable_dirstats" id="enable_dirstats">
						<option value="1">true</option>
						<option value="0"
						<tmpl_if name="enable_dirstats" value="0">
							 selected
						</tmpl_if>
						>false</option>
					</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable dir-stats.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_maketorrent">Enable Make Torrent</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_maketorrent" id="enable_maketorrent">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_maketorrent" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to make torrent files from the directory view.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="dir_maketorrent_default">Default Make Torrent Client</label>
					</td>
					<td class="settingsSetting" rowspan="2">
					<select name="dir_maketorrent_default" id="dir_maketorrent_default">
						<option value="tornado">tornado</option>
						<option value="mainline"
						<tmpl_if name="dir_maketorrent_default" value="mainline">
							 selected
						</tmpl_if>
						>mainline</option>
					</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Choose the default-client used to create torrent-files.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_file_download">Enable File Download</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_file_download" id="enable_file_download">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_file_download" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to download from the directory view.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="package_type">Download Package Type</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="package_type" id="package_type">
							<option value="tar" selected>tar</option>
							<option value="zip"
							<tmpl_if name="package_type" value="zip">
								 selected
							</tmpl_if>
							>zip</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When File Download is enabled, users will be allowed download from the directory view using a packaging system. Make sure your server supports the package type you select.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_view_nfo">Enable Text/NFO Viewer</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_view_nfo" id="enable_view_nfo">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_view_nfo" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to view Text/NFO files from the directory listing.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_rar">Enable unrar</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_rar" id="enable_rar">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_rar" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable unrar.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_sfvcheck">Enable sfv-check</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_sfvcheck" id="enable_sfvcheck">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_sfvcheck" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable SFV Check.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_vlc">Enable vlc</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_vlc" id="enable_vlc">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_vlc" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable vlc-streaming.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="vlc_port">vlc port</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="vlc_port" id="vlc_port" type="Text" maxlength="5" value="<tmpl_var name="vlc_port">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the port for vlc (8080).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_rename">Enable Rename Files</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_rename" id="enable_rename">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_rename" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Rename Files or Folders.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="enable_move">Enable Move</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_move" id="enable_move">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_move" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Moving Files into a specified dir.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="categorylist">Move Paths</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="categorylist" id="categorylist" size="4">
							<tmpl_if name="moveSettings_move_list">
								<tmpl_loop name="moveSettings_move_list">
									<option value="<tmpl_var name="target">"><tmpl_var name="target"></option>
								</tmpl_loop>
							</tmpl_if>
						</select>
						<br /><br />
						<input type="button" name="remCatButton" value="remove" onclick="removeMoveEntry()">
						<br /><br />
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						<em>Note</em>: You must specify absolute paths here. relative paths are not valid.<br />
						<em>Note</em>: The created dirs will not be deleted after removing a entry from the List.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="category">New Target-Dir</label>
					</td>
					<td class="settingsSetting">
						<input type="text" name="category" id="category" size="30">
						<br /><br />
						<input type="button" name="addCatButton" value="add" onclick="addMoveEntry()" size="30">
						<br /><br />
						<input type="hidden" name="move_paths" value="<tmpl_var name="moveSettings_move_paths">">
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="resdirlist">Entries</label>
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="resdirlist" id="resdirlist" size="4">
							<tmpl_if name="dir_restricted_list">
								<tmpl_loop name="dir_restricted_list">
									<option value="<tmpl_var name="target">"><tmpl_var name="target"></option>
								</tmpl_loop>
							</tmpl_if>
						</select>
						<br /><br />
						<input type="button" name="remButton" value="remove" onclick="removeDirEntry()">
						<br /><br />
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the entries restricted for all dir-operations.<br />
						<em>Note</em>: dot-entries are always restricted.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<label for="resdirentry">New Entry</label>
					</td>
					<td class="settingsSetting">
						<input type="text" name="resdirentry" id="resdirentry" size="30">
						<br /><br />
						<input type="button" name="addButton" value="add" onclick="addDirEntry()" size="30">
						<br /><br />
						<input type="hidden" name="dir_restricted" value="<tmpl_var name="dir_restricted">">
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">

					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
	</form>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>