<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<div id="content">
	<div id="left">
		<span class="titles">tf-b4rt Stats</span>
		<table class="settings2">
			<tr>
				<td class="settingsTitle">
					Transfers:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_transfers_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Users:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_users_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Hits:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_hits_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Logs:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_logs_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Links:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_links_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					RSS:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_rss_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Messages:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_messages_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Cookies:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_cookies_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Profiles:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_profiles_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Search-Engines:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_searchengines_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Themes:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_themes_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Languages:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_lang_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Disk Usage:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_du_total">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Version:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_version">
				</td>
			</tr>
		</table>
	</div>
	<div id="middle">
		<span class="titles">Database Details</span>
		<table class="settings2">
			<tr>
				<td class="settingsTitle">
					Type:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="db_type">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Host:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="db_host">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Name:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="db_name">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Username:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="db_user">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Pers. Connection:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="db_pcon">
				</td>
			</tr>
		</table>
	</div>
	<div id="right">
		<span class="titles">Other Stats</span>
		<table class="settings2">
			<tr>
				<td class="settingsTitle">
					OS:
				</td>
				<td class="settingsSetting">
					<tmpl_var name="server_os">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					PHP-Version:
				</td>
				<td class="<tmpl_if name="server_php_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_php">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Sessions:
				</td>
				<td class="<tmpl_if name="server_extension_session_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_extension_session">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					PCRE:
				</td>
				<td class="<tmpl_if name="server_extension_pcre_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_extension_pcre">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Sockets:
				</td>
				<td class="<tmpl_if name="server_extension_sockets_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_extension_sockets">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Safe-Mode:
				</td>
				<td class="<tmpl_if name="server_ini_safe_mode_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_ini_safe_mode">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Allow URL fOpen:
				</td>
				<td class="<tmpl_if name="server_ini_allow_url_fopen_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_ini_allow_url_fopen">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Register Globals:
				</td>
				<td class="<tmpl_if name="server_ini_register_globals_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_ini_register_globals">
				</td>
			</tr>
			<tr>
				<td class="settingsTitle">
					Image-Types:
				</td>
				<td class="<tmpl_if name="server_image_state" value="1">settingsSetting<tmpl_else>settingsSetting2</tmpl_if>">
					<tmpl_var name="server_image">
				</td>
			</tr>
		</table>
	</div>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>