<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<div id="content">
	<form name="theForm" action="admin.php?op=updateTransferSettings" method="post" onsubmit="return validateSettings('transfer')">
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Transfer Settings
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						default BitTorrent-Client
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="btclient">
							<option value="tornado"
							<tmpl_if name="btclient" value="tornado">
								 selected
							</tmpl_if>
							>tornado</option>
							<option value="transmission"
							<tmpl_if name="btclient" value="transmission">
								 selected
							</tmpl_if>
							>transmission</option>
							<option value="mainline"
							<tmpl_if name="btclient" value="mainline">
								selected
							</tmpl_if>
							>mainline</option>
							<option value="azureus"
							<tmpl_if name="btclient" value="azureus">
								selected
							</tmpl_if>
							>azureus</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Choose the default BitTorrent-Client.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Select torrent-metainfo-client
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="metainfoclient">
							<option value="btshowmetainfo.py"
							<tmpl_if name="metainfoclient" value="btshowmetainfo.py">
								 selected
							</tmpl_if>
							>btshowmetainfo.py</option>
							<option value="transmissioncli"
							<tmpl_if name="metainfoclient" value="transmissioncli">
								 selected
							</tmpl_if>
							>transmissioncli</option>
							<option value="torrentinfo-console.py"
							<tmpl_if name="metainfoclient" value="torrentinfo-console.py">
								 selected
							</tmpl_if>
							>torrentinfo-console.py</option>
							<option value="ttools.pl"
							<tmpl_if name="metainfoclient" value="ttools.pl">
								 selected
							</tmpl_if>
							>ttools.pl</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						The client that is used to decode torrent-meta-data.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						tornado : Extra Commandline Options
					</td>
					<td class="settingsSetting">
						<input name="btclient_tornado_options" type="Text" maxlength="254" value="<tmpl_var name="btclient_tornado_options">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						transmission : Extra Commandline Options
					</td>
					<td class="settingsSetting">
						<input name="btclient_transmission_options" type="Text" maxlength="254" value="<tmpl_var name="btclient_transmission_options">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						mainline : Extra Commandline Options
					</td>
					<td class="settingsSetting">
						<input name="btclient_mainline_options" type="Text" maxlength="254" value="<tmpl_var name="btclient_mainline_options">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Max Upload Rate (B+T+M+A)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="max_upload_rate" type="Text" maxlength="5" value="<tmpl_var name="max_upload_rate">" size="5"> kB/second
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default value for the max upload rate per transfer.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Max Download Rate (B+T+M+A)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="max_download_rate" type="Text" maxlength="5" value="<tmpl_var name="max_download_rate">" size="5"> kB/second
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default value for the max download rate per transfer (0 for no limit).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Max Upload Connections (B+M)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="max_uploads" type="Text" maxlength="5" value="<tmpl_var name="max_uploads">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default value for the max number of upload connections per transfer.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Max Cons (B+M)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="maxcons" type="Text" maxlength="5" value="<tmpl_var name="maxcons">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set default-value for maxcons.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Port Range (B+T+M)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="minport" type="Text" maxlength="5" value="<tmpl_var name="minport">" size="5">
						-
						<input name="maxport" type="Text" maxlength="5" value="<tmpl_var name="maxport">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default values for the for port range (Min - Max).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Rerequest Interval (B+M)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="rerequest_interval" type="Text" maxlength="5" value="<tmpl_var name="rerequest_interval">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default value for the rerequest interval to the tracker (default 1800 seconds).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Default Torrent Completion Activity (B+T+M+A)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="die_when_done">
							<option value="True">Die When Done</option>
							<option value="False"
								<tmpl_if name="die_when_done" value="False">
									 selected
								</tmpl_if>
							>Keep Seeding</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select whether or not a torrent should keep seeding when download is complete.<br />
						(please seed your torrents).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Default Percentage When Seeding should Stop (B+T+M+A)
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="sharekill" type="Text" maxlength="3" value="<tmpl_var name="sharekill">" size="3">%
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default share percentage where torrents will shutoff when running torrents that do not die when done.<br />
						Value '0' will seed forever.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable cumulative sharekill (B+T+M+A)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_sharekill">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_sharekill" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Recalc the sharekill-param passed to clients on restart based on total amount uploaded. (including previous sessions)
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable File Priority (B)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_file_priority">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_file_priority" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to select particular files from the torrent to download.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Superseeder (B)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="superseeder">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="superseeder" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default for superseeder-setting on torrent-start.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Skip HashCheck (B+M)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="skiphashcheck">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="skiphashcheck" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default for skip hash-checks on torrent-start.
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					fluazu
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						fluazu daemon
					</td>
					<td class="settingsSetting" rowspan="2">
						<a id="closeLink" href="admin.php?op=fluazuSettings">fluazu-settings</a>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						fluazu is a proxy to use an Azureus-Server as client for torrents.
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					wget
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						Enable wget
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_wget">
							<option value="0" <tmpl_if name="enable_wget" value="0"> selected</tmpl_if>>wget disabled</option>
							<option value="1" <tmpl_if name="enable_wget" value="1"> selected</tmpl_if>>Only Admins</option>
							<option value="2" <tmpl_if name="enable_wget" value="2"> selected</tmpl_if>>All Users</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set who can use wget.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Limit Download Rate
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="wget_limit_rate" type="Text" maxlength="5" value="<tmpl_var name="wget_limit_rate">" size="5"> kB/second
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default value for the max download rate per transfer (0 for no limit).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Limit Number of Retries
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="wget_limit_retries" type="Text" maxlength="5" value="<tmpl_var name="wget_limit_retries">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the max Number of Retries. (0 unlimits).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Passive FTP
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="wget_ftp_pasv">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="wget_ftp_pasv" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable the "passive" transfer mode for FTP).
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					nzbperl
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						nzbperl Requirements Check
					</td>
					<td class="settingsSetting">
						<script language="JavaScript">
							function SuperAdmin(name_file) {
								window.open (name_file,"_blank","toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=800,height=600")
							}
						</script>
						<a id="closeLink" href="javascript:SuperAdmin('superadmin.php?y=531')"> nzbperl Requirements Check</a>
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable nzbperl
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_nzbperl">
							<option value="0" <tmpl_if name="enable_nzbperl" value="0"> selected</tmpl_if>>nzbperl disabled</option>
							<option value="1" <tmpl_if name="enable_nzbperl" value="1"> selected</tmpl_if>>Only Admins</option>
							<option value="2" <tmpl_if name="enable_nzbperl" value="2"> selected</tmpl_if>>All Users</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set who can use nzbperl.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Sub-dirs
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="nzbperl_create">
							<option value="0" <tmpl_if name="nzbperl_create" value="0"> selected</tmpl_if>>no extra dir</option>
							<option value="1" <tmpl_if name="nzbperl_create" value="1"> selected</tmpl_if>>nzb file name</option>
							<option value="2" <tmpl_if name="nzbperl_create" value="2"> selected</tmpl_if>>usenet group name</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set if nzbperl-downloads should go into extra sub-dirs.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Bad file action
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="nzbperl_badAction">
							<option value="0" <tmpl_if name="nzbperl_badAction" value="0"> selected</tmpl_if>>drop bad files</option>
							<option value="1" <tmpl_if name="nzbperl_badAction" value="1"> selected</tmpl_if>>download anyway</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the action to perform on finding a bad entry in the nzb.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Download Rate
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="nzbperl_rate" type="Text" maxlength="5" value="<tmpl_var name="nzbperl_rate">" size="5"> kB/second
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the default value for the max download rate per transfer (0 for no limit).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Server
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="nzbperl_server" type="Text" maxlength="254" value="<tmpl_var name="nzbperl_server">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the nntp server nzbperl should connect to).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Username
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="nzbperl_user" type="Text" maxlength="254" value="<tmpl_var name="nzbperl_user">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the username to connect to your nntp server.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Password
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="nzbperl_pw" type="password" maxlength="254" value="<tmpl_var name="nzbperl_pw">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Set the password to connect to your nntp server.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Connections
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="nzbperl_conn" type="text" maxlength="5" value="<tmpl_var name="nzbperl_conn">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						The number of simultaneous connections to the nntp server nzbperl will create. <br />
						You can only run conn/server_max nzb downloads at once.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Threads
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="nzbperl_threads">
							<tmpl_loop name="nzbperl_threadList">
								<option value="<tmpl_var name="value">"<tmpl_if name="is_selected" value="1"> selected</tmpl_if>>
									<tmpl_var name="name">
								</option>
							</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable only if your Perl supports threads.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Extra Commandline Options
					</td>
					<td class="settingsSetting">
						<input name="nzbperl_options" type="Text" maxlength="254" value="<tmpl_var name="nzbperl_options">" size="30">
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Common
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						Enable umask (B+T+M+W+N)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_umask">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_umask" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable setting umask to 0000 when starting a client.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						nice (B+T+M+W+N)
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="nice_adjust">
							<tmpl_loop name="nice_list">
								<option value="<tmpl_var name="i">"
									<tmpl_if name="nice_adjust_true" value="1">
										 selected
									</tmpl_if>
								>
								<tmpl_if name="i" value="0">
									Don't use nice
								<tmpl_else name="i">
									<tmpl_var name="i">
								</tmpl_if>
								</option>
							</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						nice clients and increment priority by given adjustment first.
					</td>
				</tr>
				<tr>
						<td class="settingsTitle">
						</td>
						<td class="settingsSetting">
							<input type="Submit" value="Update Settings">
						</td>
					</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
	</form>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>