<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<div id="content">
	<form name="theForm" action="admin.php?op=updateServerSettings" method="post" onsubmit="return validateSettings('server')">
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Server Settings
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						<tmpl_if name="is_path" value="1">
							<tmpl_if name="is_writable" value="1">
								Path
							<tmpl_else>
								Path is not Writable
							</tmpl_if>
						<tmpl_else>
							Path is not Valid
						</tmpl_if>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="path" type="Text" maxlength="254" value="<tmpl_var name="path">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the main torrentflux parent-PATH.<br />
						Dir must be writable for the webserver-user.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<tmpl_if name="is_docroot" value="1">
							Document-Root
						<tmpl_else>
							Document-Root is not Valid
						</tmpl_if>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="docroot" type="Text" maxlength="254" value="<tmpl_var name="docroot">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the Document-Root of the Installation.
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Homedirs
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table>
				<tr>
					<td class="settingsTitle">
						Enable Homedirs
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_home_dirs">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_home_dirs" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Homedirs.<br />
						If disabled all downloads are saved to the incoming-directory.on.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						<tmpl_if name="path_incoming_ok" value="1">
							Incoming
						<tmpl_else>
							Incoming is not Valid
						</tmpl_if>
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="path_incoming" type="Text" maxlength="254" value="<tmpl_var name="path_incoming">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the incoming PATH where downloads are saved when Homedirs are turned off.
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					Bins
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						Path : transmissioncli
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="btclient_transmission_bin" type="Text" maxlength="254" value="<tmpl_var name="btclient_transmission_bin">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the Transmission binary (/usr/local/bin/transmissioncli).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : wget
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_wget" type="Text" maxlength="254" value="<tmpl_var name="bin_wget">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the wget binary (/usr/bin/wget).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : uudeview
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_uudeview" type="Text" maxlength="254" value="<tmpl_var name="bin_uudeview">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the uudeview binary (needed for nzbperl) (/usr/local/bin/uudeview).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : php
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_php" type="Text" maxlength="254" value="<tmpl_var name="bin_php">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the php binary (/usr/bin/php).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : python
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="pythonCmd" type="Text" maxlength="254" value="<tmpl_var name="pythonCmd">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the python binary (/usr/bin/python).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : perl
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="perlCmd" type="Text" maxlength="254" value="<tmpl_var name="perlCmd">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to perl (/usr/bin/perl).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : grep
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_grep" type="Text" maxlength="254" value="<tmpl_var name="bin_grep">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the grep binary (/bin/grep).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : awk
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_awk" type="Text" maxlength="254" value="<tmpl_var name="bin_awk">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the awk binary (/usr/bin/awk).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : du
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_du" type="Text" maxlength="254" value="<tmpl_var name="bin_du">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the du binary (/usr/bin/du).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : unzip
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_unzip" type="Text" maxlength="254" value="<tmpl_var name="bin_unzip">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the unzip binary (/usr/bin/unzip).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : cksfv
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_cksfv" type="Text" maxlength="254" value="<tmpl_var name="bin_cksfv">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the cksfv binary (/usr/bin/cksfv).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Path : vlc
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bin_vlc" type="Text" maxlength="254" value="<tmpl_var name="bin_vlc">" size="30">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the path to the vlc binary (/usr/local/bin/vlc).
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
		<div id="upload">
			<div id="uploadLast"></div>
			<div id="uploadFirst">
				<span class="upload">
					OS-specific (<tmpl_var name="php_uname1"> <tmpl_var name="php_uname2">)
				</span>
			</div>
		</div>
		<div class="uploadClass">
			<table id="settings">
				<tmpl_if name="_OS" value="1">
					<tr>
						<td class="settingsTitle">
							Path : loadavg
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="loadavg_path" type="Text" maxlength="254" value="<tmpl_var name="loadavg_path">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Path to the loadavg file (/proc/loadavg).
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							Path : netstat
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="bin_netstat" type="Text" maxlength="254" value="<tmpl_var name="bin_netstat">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Specify the path to the netstat binary (/bin/netstat).
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							Path : unrar
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="bin_unrar" type="Text" maxlength="254" value="<tmpl_var name="bin_unrar">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Specify the path to the unrar binary (/usr/bin/unrar).
						</td>
					</tr>
				<tmpl_elseif name="_OS" value="2">
					<tr>
						<td class="settingsTitle">
							Path : sockstat
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="bin_sockstat" type="Text" maxlength="254" value="<tmpl_var name="bin_sockstat">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Specify the path to the sockstat binary (/usr/bin/sockstat).
						</td>
					</tr>
					<tr>
						<td class="settingsTitle">
							Path : rarbsd
						</td>
						<td class="settingsSetting" rowspan="2">
							<input name="bin_unrar" type="Text" maxlength="254" value="<tmpl_var name="bin_unrar">" size="30">
						</td>
					</tr>
					<tr>
						<td class="settingsText">
							Specify the path to the rarbsd binary.
						</td>
					</tr>
				</tmpl_if>
				<tr>
					<td class="settingsTitle">
					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</div>
		<div id="uploadBottom"></div>
		<div id="uploadBottomEnd"></div>
	</form>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>