<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.titleBar.tmpl">
<script src="js/adminSettings.js" type="text/javascript"></script>
<div id="content">
<div id="upload">
		<div id="uploadLast"></div>
		<div id="uploadFirst">
			<span class="upload">
				Settings
			</span>
		</div>
	</div>
	<div class="uploadClass">
		<form name="theForm" action="admin.php?op=updateIndexSettings" method="post" onsubmit="return validateSettings('index')">
			<table id="settings">
				<tr>
					<td class="settingsTitle">
						Page Refresh
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_meta_refresh">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_meta_refresh" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Page Refresh.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Page Refresh Intervall
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="page_refresh" type="Text" maxlength="3" value="<tmpl_var name="page_refresh">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of seconds before the page refreshes.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						AJAX Update
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable AJAX Update.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Page-Title AJAX Update
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_title">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_title" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable update of the Page-Title in AJAX Updates.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Users AJAX Update
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_users">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_users" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable update of the User-List in AJAX Updates.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Transfer List AJAX Update
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_list">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_list" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable Transfer List AJAX Update.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Silent AJAX Update
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_index_ajax_update_silent">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_index_ajax_update_silent" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable update of the User-List in AJAX Updates.<br>
						If enabled the AJAX-Update is more silent:<br>
						No "Update in Progress..." shown in Title and on Label and no Counter shown.
				</tr>
				<tr>
					<td class="settingsTitle">
						AJAX Update Intervall
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="index_ajax_update" type="Text" maxlength="3" value="<tmpl_var name="index_ajax_update">" size="3">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Number of seconds between AJAX-Updates.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Width
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="ui_dim_main_w" type="Text" maxlength="5" value="<tmpl_var name="ui_dim_main_w">" size="5">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify the width of the index-page. (900).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable multi-upload
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_multiupload">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_multiupload" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable multi-upload.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Multi-upload - Rows
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="hack_multiupload_rows" type="Text" maxlength="2" value="<tmpl_var name="hack_multiupload_rows">" size="2">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify rows on multi-upload page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Torrent Search
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_search">
								<option value="1">true</option>
								<option value="0"
							<tmpl_if name="enable_search" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to perform torrent searches from the home page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Default Torrent Search Engine
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="searchEngine" <tmpl_if name="autoSubmit">onchange="this.form.submit();"</tmpl_if> STYLE="width: 125px">
						<tmpl_loop name="Engine_List">
							<option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="Engine"></option>
						</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select the default search engine for torrent searches.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Display Links
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displaylinks">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displaylinks" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Links on the index-page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Display Users
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displayusers">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displayusers" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Users on the index-page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Good looking statistics
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_goodlookstats">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_goodlookstats" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable "Good looking statistics".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Good looking statistics settings
					</td>
					<td class="settingsSetting" rowspan="2">
						<tmpl_include name="inc.goodLookingStatsForm.tmpl">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select Fields shown in "Good looking statistics".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Show Graphs-Link
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_graphs">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_graphs" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Show Graphs-Link.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Display Bandwidth-Bars
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="ui_displaybandwidthbars">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="ui_displaybandwidthbars" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display Bandwidth-Bars.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Bandwidth-Bars Style
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="bandwidthbar">
							<option value="tf"
							<tmpl_if name="bandwidthbar" value="tf">
								 selected
							</tmpl_if>
							>tf</option>
							<option value="xfer"
							<tmpl_if name="bandwidthbar" value="xfer">
								 selected
							</tmpl_if>
							>xfer</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select Style of Bandwidth-Bars.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Bandwidth Up
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bandwidth_up" type="Text" maxlength="10" value="<tmpl_var name="bandwidth_up">" size="6">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the line-speed up in kbits.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Bandwidth Down
					</td>
					<td class="settingsSetting" rowspan="2">
						<input name="bandwidth_down" type="Text" maxlength="10" value="<tmpl_var name="bandwidth_down">" size="6">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Define the line-speed down in kbits.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Big bold drivespace warning
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_bigboldwarning">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_bigboldwarning" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable "Big bold drivespace warning"
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Only Admin can see other users transfers
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_restrictivetview">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_restrictivetview" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable "Only Admin can see other users transfers".
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable Transfer File Download
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_metafile_download">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_metafile_download" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						When enabled, users will be allowed to download the transfer meta file from the torrent list view.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Show Seeding Torrents
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="index_show_seeding">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="index_show_seeding" value="0">
								selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Specify if we show seeding torrents on the index page.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Specify if we show seeding torrents on the index page
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="display_seeding_time">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="display_seeding_time" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Display the estimated time until your seeding reaches the cutoff you set.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable sorttable
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_sorttable">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_sorttable" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable Client-Side sorting of Transfer-Table.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Select Sort-Order
					</td>
					<td class="settingsSetting" rowspan="2">
						<tmpl_include name="inc.sortOrderSettings.tmpl">
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select default Sort-Order of transfers.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Default Transfer Window
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="transfer_window_default">
							<tmpl_loop name="transfer_window_default_list">
								<option value="<tmpl_var name="value">"<tmpl_if name="is_selected" value="1"> selected</tmpl_if>>
									<tmpl_var name="name">
								</option>
							</tmpl_loop>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Select the default-page of the transfer-windows.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable multi-operations
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_multiops">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_multiops" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable client-multi-operations. (Start/Stop/Delete/...).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Enable bulk-operations
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="enable_bulkops">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="enable_bulkops" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable/Disable bulk-operations. (Stop/Resume/Start).
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Show Server Stats
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="index_page_stats">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="index_page_stats" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable showing the server stats at the bottom.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Show Connections
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="index_page_connections">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="index_page_connections" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable showing the Sum of TCP-Connections.
					</td>
				</tr>
				<tr>
					<td class="settingsTitle">
						Show Server Load
					</td>
					<td class="settingsSetting" rowspan="2">
						<select name="show_server_load">
							<option value="1">true</option>
							<option value="0"
							<tmpl_if name="show_server_load" value="0">
								 selected
							</tmpl_if>
							>false</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="settingsText">
						Enable showing the average server load over the last 15 minutes.
					</td>
				</tr>
				
				<tr>
					<td class="settingsTitle">
					</td>
					<td class="settingsSetting">
						<input type="Submit" value="Update Settings">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div id="uploadBottom"></div>
	<div id="uploadBottomEnd"></div>
	<tmpl_include name="inc.subfoot.tmpl">
</div>
</body>
</html>