body 
{
	font-family: Arial;
	font-size: 75%; /* 12px */
	margin-top: 10px;
	background-color:#A7A38F;
	text-align:center;
}

table,
td
{
	border-style:none;
	padding:0px;
}


img
{
	border-style:none;
}

form ,
span
{
	margin: 0px;
	padding: 0px;
	display: inline;
}
a:link ,
a:active,
a:visited,
a:hover         
{
	color: #363636;
	text-decoration: none;
}
input,
select,
textarea
{
	font-size:80%;
}

hr
{
	border: 1px solid #a0b9d8;
}

.small{
	font-size:80%;
}
.clear{
	height:0px;
    font-size:0px;
    line-height:0px;
    clear:both;
    overflow:hidden;
}

/* TitleBar */
.titleleft
{
	font-weight: bold; 
	color: #FFFFFF;
	font-size:115%;
	text-align:left;
}
.titleright
{
	text-align:right;
}
a.titlebarbutton,
a:link.titlebarbutton,
a:visited.titlebarbutton,
a:active.titlebarbutton,
a:hover.titlebarbutton
{
	font-size:80%;
	font-weight:bold;
}

/* Table Styles */
.tableheading,
.tableheading_alt
{
	background-color:#a0b9d8;
	font-size:100%;
}

.table
{
	border:2px solid #a0b9d8;
	width:100%;
}

.tableheading_alt
{
	color:#FFFFFF;
	font-weight:bold;
}
a.tableheadlink,
a:link.tableheadlink,
a:visited.tableheadlink,
a:active.tableheadlink,
a:hover.tableheadlink
{
	color:#FFFFFF;
	font-size:100%;
	font-weight:bold;
}
.tablecontent
{
	background-color:#BCCEED;
}

.tablecontent_alt
{
	background-color:#C8D7EE;
}

.tablecontent_hover
{
	background-color:#A2BED4;
}


/*INPUT 		{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
TEXTAREA	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
SELECT 		{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Helvetica; BORDER-RIGHT-WIDTH: 1px}
*/
/*
.titleblack 		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.block-title	{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Helvetica}
.option 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tinywhite		{BACKGROUND: none; COLOR: #ffffff; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: none}
.tinyunderline	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 9px; FONT-WEIGHT: normal; FONT-FAMILY: Verdana, Helvetica; TEXT-DECORATION: underline}
.title {FONT-FAMILY: Verdana,Helvetica; FONT-WEIGHT: bold; COLOR: #ffffff; FONT-SIZE: 12px}
.overCaption {font-family:arial; color:#ffffff; font-size:9pt; font-weight:bold;}
.overClose {font-family:arial; background:#94ABC0; color:#000000; font-size:9pt; font-weight:bold;}
.overBody {font-family:arial; background:#A2BED4; font-size:9pt; font-weight:normal;}
.detailbar {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}*/
/* #transferList { overflow: auto; } */
