
# $Id$
RewriteEngine On
RewriteBase /

# pages
RewriteRule ^index\.html$ index.php?s=index
RewriteRule ^home\.html$ index.php?s=home
RewriteRule ^features\.html$ index.php?s=features
RewriteRule ^requirements\.html$ index.php?s=requirements
RewriteRule ^screenshots\.html$ index.php?s=screenshots
RewriteRule ^news\.html$ index.php?s=news
RewriteRule ^about\.html$ index.php?s=about
RewriteRule ^changelog\.html$ index.php?s=changelog

# wsvn-website
RewriteRule ^wsvn-website$ https://svn.berlios.de/wsvn/tf-b4rt/misc/website/htdocs/index.php?op=file&rev=0&sc=0 [R]

# version
RewriteRule ^version$ version.txt [R]

# faq
RewriteRule ^faq$ https://tf-b4rt.berlios.de/forum/index.php/board,10.0.html [R]

# fixes
RewriteRule ^fixes$ https://tf-b4rt.berlios.de/forum/index.php/board,4.0.html [R]

# downloads / current
RewriteRule ^(download|downloads|current|tfb|download-torrentflux-b4rt\.html)$ https://developer.berlios.de/project/showfiles.php?group_id=7000&release_id=12507 [R]

# exported text-res

# authors
RewriteRule ^authors[\.txt]*$ AUTHORS [R]

# changes
RewriteRule ^(changelog[\.txt]*|changes[\.txt]*)$ CHANGES [R]

# faq
RewriteRule ^faq[\.txt]*$ FAQ [R]

# features
RewriteRule ^features[\.txt]*$ FEATURES [R]

# install
RewriteRule ^install[\.txt]*$ INSTALL [R]

# readme
RewriteRule ^readme[\.txt]*$ README [R]

# support
RewriteRule ^support[\.txt]*$ SUPPORT [R]

# todo
RewriteRule ^todo[\.txt]*$ TODO [R]

# transmission
RewriteRule ^transmission$ https://tf-b4rt.berlios.de/forum/index.php/topic,90.0.html [R]
