
/* $Id$ */

html, * {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #666
}

body {
	background-color: #2f2f2e;
}

/* Zentriert die Seite und sorgt fuer den weissen Hintergrund */
#container {
	width: 650px;
	margin: 0 auto 0 auto;
	background-color: #fff;
	border: 1px solid #fff;
}

/* Der Seitenkopf - Logo und Version */
#header {
	height: 32px;
	background-color: transparent;
	background-image: url(../images/tf_logo.png);
	background-repeat: no-repeat;
	text-align: right;
	margin: 70px 20px 10px 20px;
}

/* Fomatierung fuer die Version oben rechts */
.version {
	margin: 21px 10px 0 0;
}

.versionspan a {
	font-size: 8pt;
}

.changelog {
	font-family: 'courier new', courier, monospace;
	font-size: 8pt;
}

#navi {
	margin: 0 20px;
	height: 30px;
	background-image: url(../images/navibg.png);
	background-repeat:no-repeat;
	padding: 5px 0;
}

#navi ul {
	list-style: none;
	border: 0px solid red;
}

#navi li {
	display: inline;
	margin: 0 4px 0 5px;
	font-size: medium;
	font-weight: bold;
}

#navi a {
	text-decoration: none;
	color: #fff;
	font-size: medium;
	font-weight: normal;
	letter-spacing: 0px;
}

#navi a:hover {
	color: #333;
}

#content {
	margin: 30px 30px;
}

#content h1 {
	font-size: large;
	color: #837b67;
	margin-bottom: 1em;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#content h2 {
	font-size: medium;
	color: #837b67;
	margin-bottom: 1em;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

a, a:active, a:visited {
	text-decoration: none;
	color: #506291;
}

a:hover {
	text-decoration: underline;
	color: #AF9D6E;
}

#content p {
	/* line-height: 1.8em; */
	line-height: 1.8em;
	margin: 0 2em 1.3em 0em;
}

#content ul, ol {
	/* margin: 1.3em 0 1.3em 1.3em; */
	/* margin: 1.3em 1.3em 1.3em 1.3em; */
	margin: 1.3em 2.0em 1.3em 2.0em;
}

#content li {
	/* line-height: 1.3em; */
	line-height: 1.8em;
}

#content .img_right {
	border: 0;
	margin: 5px 0 10px 20px;
}

#content .img_left {
	border: 0;
	margin: 5px 20px 10px 0;
}

#footer {
	border-top: 1px solid #c3b591;
	margin: 2em 0 2em 0;
	padding-top: 0.3em;
}

#credits {
	margin-bottom: 3em;
	text-align: center;
}

div.subcontent {
	margin-bottom: 3em;
}

.featurelist ul {
	list-style: square;
}
