<tmpl_include name="inc.head.tmpl">
<tmpl_var name="head">
<div align="center">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center">
				<tmpl_var name="torrentLabel"><font class="tiny"> (<tmpl_var name="cons_hosts">)</font>
			</td>
			<td align="right" width="16">
				<a href="index.php?iid=downloaddetails&torrent=<tmpl_var name="torrent">&alias=<tmpl_var name="alias">">
					<img src="themes/default/images/<tmpl_var name="hd_image">" width=16 height=16 border=0 title="<tmpl_var name="hd_title">">
				</a>
			</td>
		</tr>
	</table>
	<table bgcolor="#d6dfe6" width="352" cellpadding="1">
		<tr>
			<td>
				<div align="center">
					<table border="0" cellpadding="2" cellspacing="2" width="90%">
						<tmpl_if name="torrent_hosts_aval">
							<tr>
								<td><div class="tiny"><strong><tmpl_var name="_ID_HOST"></strong></div></td>
								<td><div class="tiny"><strong><tmpl_var name="_ID_PORT"></strong></div></td>
							</tr>
							<tmpl_if name="hosts">
								<tmpl_loop name="list_host">
									<tr>
										<td bgcolor="#d6dfe6" nowrap><div class="tiny"><tmpl_var name="host"></div></td>
										<td bgcolor="#d6dfe6" nowrap><div class="tiny"><tmpl_var name="port"></div></td>
									</tr>
								</tmpl_loop>
							</tmpl_if>
						</tmpl_if>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>
<tmpl_var name="foot">