<body topmargin="8" leftmargin="5" bgcolor="#829FB5">
<div align="center">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
	<td>
		<table border="1" bordercolor="#d6dfe6" cellpadding="4" cellspacing="0">
			<tr>
				<td bgcolor="#829FB5" background="themes/<tmpl_var name="theme">/images/bar.gif">
					<tmpl_var name="TitleBar">
				</td>
			</tr>
			<tr>
				<td bgcolor="#d6dfe6">
					<div align="center">
						<table width="100%" bgcolor="#d6dfe6">
							<tr>
								<td>