</td>
</tr>
</table>
<tmpl_if name="showReturn">
	[<a href="index.php?iid=index"><tmpl_var name="_RETURNTOTRANSFERS"></a>]
</tmpl_if>
</div>
</td>
</tr>
</table>
<tmpl_var name="getTorrentFluxLink">
</td>
</tr>
</table>
</div>
</body>
</html>