<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_var name="htmlTargets">
<div align="center" id="BodyLayer" name="BodyLayer" style="border: thin solid #829FB5position:relative; width:740; height:500; padding-left: 5px; padding-right: 5px; z-index:1; overflow: scroll; visibility: visible">
	<tmpl_var name="htmlGraph">
</div>
<tmpl_var name="foot">