<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<tmpl_if name="new_msg">
	<table cellpadding="5" cellspacing="0" border="0" width="100%">
		<tr>
			<td align="center" bgcolor="#d6dfe6">
				<strong><tmpl_var name="message"></strong>
			</td>
		</tr>
	</table>
</tmpl_if>
<script src="js/adminSettings.js" type="text/javascript"></script>
<script src="js/fluxdSettings.js" type="text/javascript"></script>
<div align="center">
	<a name="fluxd" id="fluxd"></a>
	<table width="100%" border=1 bordercolor="#FFFFFF" cellpadding="2" cellspacing="0" bgcolor="#EEEEEE">
		<tr>
			<td align="center">
				<div align="center">
					<table cellpadding="5" cellspacing="0" border="0" width="100%">
							<form name="theForm" action=""admin.php?op=fluxdRssadSettings"" method="post" onsubmit="return validateSettings('fluxdRssadFilters')">
								<input type="hidden" name="pageop" value="updateFilters">
								<tr>
									<td colspan="2" align="center" bgcolor="#d6dfe6">
										<strong>Filters</strong>
									</td>
								</tr>
								<tr>
									<td colspan="2" align="center">
										<br>TODO<br><br>
									</td>
								</tr>
								<tr>
									<td align="center" colspan="2">
										<input type="Submit" value="Update Filters">
									</td>
								</tr>								
							</form>
							<form name="theForm" action="admin.php?op=fluxdRssadSettings" method="post" onsubmit="return validateSettings('fluxdRssadJobs')">
								<input type="hidden" name="pageop" value="updateJobs">
								<tr>
									<td colspan="2" align="center" bgcolor="#d6dfe6">
										<strong>Jobs</strong>
									</td>
								</tr>
								<tr>
									<td colspan="2" align="center">
										<br>TODO<br><br>
									</td>
								</tr>
								<tr>
									<td align="center" colspan="2">
										<input type="Submit" value="Update Jobs">
									</td>
								</tr>
							</form>
						</table>
					</div>
					<br>
				</td>
			</tr>
		</table>
	</div>
</div>
<tmpl_include name="inc.subfoot.tmpl">