<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<table border="0" width="100%">
	<tr>
	  <td valign="top" align="left"><table width="200" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td height="35" valign="top" background="themes/default/images/admin.top1.png"></td>
              </tr>
              <tr>
                <td align="left" valign="top" background="themes/default/images/admin.mid.png">
                <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                  <tr>
                    <td width="90%" bordercolor="#96BFE0"><strong>Transfers : </strong></td>
                    <td width="10%" align="center"><tmpl_var name="server_transfers_total"></td>
                  </tr>
                </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Users : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_users_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Activity : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_activity_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Hits : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_hits_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Logs : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_logs_total">
                      </td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Links : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_links_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>RSS : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_rss_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Messages</strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_messages_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Cookies : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_cookies_total"></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td width="90%" bordercolor="#96BFE0"><strong>Profiles : </strong></td>
                      <td width="10%" align="center"><tmpl_var name="server_profiles_total"></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="14" valign="top" background="themes/default/images/admin.bot.png"></td>
              </tr>
        </table>
      </td>
		<td valign="top" align="center"><table width="200" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td height="35" valign="top" background="themes/default/images/admin.top.png"></td>
              </tr>
              <tr>
                <td align="left" valign="top" background="themes/default/images/admin.mid.png"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td bordercolor="#96BFE0"><strong>Search-Engines : </strong></td>
                      <td align="right"><tmpl_var name="server_searchengines_total"></td>
                    </tr>
                  </table>
                    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td bordercolor="#96BFE0"><strong>Themes : </strong></td>
                        <td align="right"><tmpl_var name="server_themes_total"> / <tmpl_var name="server_themes_standard_total"></td>
                      </tr>
                    </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td bordercolor="#96BFE0"><strong>Languages : </strong></td>
                        <td align="right"><tmpl_var name="server_lang_total"></td>
                      </tr>
                    </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td bordercolor="#96BFE0"><strong>Disk Usage : </strong></td>
                        <td align="right"><tmpl_var name="server_du_total"></td>
                      </tr>
                    </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td bordercolor="#96BFE0"><strong>Version : </strong></td>
                      <td align="right"><tmpl_var name="server_version"></td>
                    </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="14" valign="top" background="themes/default/images/admin.bot.png"></td>
              </tr>
            </table>
        <p>&nbsp;</p></td>
		<td valign="top" align="right"><table width="200" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td height="35" valign="top" background="themes/default/images/admin.top3.png"></td>
              </tr>
              <tr>
                <td align="left" valign="top" background="themes/default/images/admin.mid.png"><table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                    <tr>
                      <td bordercolor="#96BFE0"><strong>Type : </strong></td>
                      <td align="right"><tmpl_var name="db_type"></td>
                    </tr>
                  </table>
                    <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td bordercolor="#96BFE0"><strong>Host : </strong></td>
                        <td align="right"><tmpl_var name="db_host"></td>
                      </tr>
                    </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td align="left"><strong>Name : </strong></td>
                        <td align="right"><tmpl_var name="db_name"></td>
                      </tr>
                    </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td align="left"><strong>Username : </strong></td>
                        <td align="right"><tmpl_var name="db_user"></td>
                      </tr>
                    </table>
                  <table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td align="left"><strong>Pers. Connection :</strong></td>
                        <td align="right"><tmpl_var name="db_pcon"></td>
                      </tr>
                  </table></td>
              </tr>
              <tr>
                <td height="14" valign="top" background="themes/default/images/admin.bot.png"></td>
              </tr>
            </table></td>
	</tr>
</table>
<br><br>
<tmpl_include name="inc.subfoot.tmpl">