<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<table width="760" border="1" bordercolor="#FFFFFF" cellpadding="2" cellspacing="0">
	<tr>
		<td bgcolor="#d6dfe6" background="themes/default/images/bar.gif">
			<div align="center">
				<a href="admin.php?op=CreateUser"><font class="adminlink">create user</font></a>
			</div>
		</td>
	</tr>
</table>
<br>
<tmpl_include name="inc.userSection.tmpl">
<tmpl_include name="inc.subfoot.tmpl">