<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.transferHead.tmpl">
<tmpl_include name="inc.transferNavi.tmpl">
<script src="js/transfer.js" type="text/javascript"></script>
<table bgcolor="#A2BED4" width="100%" cellpadding="1">
	<tr>
		<td>
			<div align="center">
			<tmpl_if name="pageop" value="control">
				control
			<tmpl_elseif name="pageop" value="start">
				start
			</tmpl_if>
			</div>
		</td>
	</tr>
</table>
<tmpl_include name="inc.transferFoot.tmpl">