<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<table border="0" width="100%">
	<tr>
		<td valign="top" align="left">
			&nbsp;
		</td>
		<td valign="top" align="right">
			<table border="0" >
				<tr>
					<td colspan="2">
						<table width="100%" border="1" bordercolor="#FFFFFF" cellpadding="2" cellspacing="0">
							<tr>
								<td bgcolor="#d6dfe6" background="themes/default/images/bar.gif" nowrap><font class="adminlink">Database-Settings</font></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><strong>Type : </strong></td>
					<td><tmpl_var name="db_type"></td>
				</tr>
				<tr>
					<td><strong>Host : </strong></td>
					<td><tmpl_var name="db_host"></td>
				</tr>
				<tr>
					<td><strong>Name : </strong></td>
					<td><tmpl_var name="db_name"></td>
				</tr>
				<tr>
					<td><strong>Username : </strong></td>
					<td><tmpl_var name="db_user"></td>
				</tr>
				<tr>
					<td><strong>Persistent Connection : </strong></td>
					<td><tmpl_var name="db_pcon"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br><br>
<tmpl_include name="inc.subfoot.tmpl">