<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.transferHead.tmpl">
<tmpl_include name="inc.transferNavi.tmpl">
<script src="js/transfer.js" type="text/javascript"></script>
<table bgcolor="#A2BED4" width="100%" cellpadding="1">
	<tr>
		<td>
			<div align="center">
			<tmpl_if name="pageop" value="control">
				control
			<tmpl_elseif name="pageop" value="start">
				<tmpl_if name="enableClientChooser" value="1">
					<tmpl_if name="enableBtclientChooser" value="1">
						<form name="clientForm" action="index.php?iid=transferControl" method="post">
							<input type="hidden" name="transfer" value="<tmpl_var name="transfer">" />
							<table border="1" bordercolor="#94ABC0" cellpadding="2" cellspacing="0" bgcolor="#A2BED4" width="100%">
								<tr>
									<td align="center" colspan="2">
										BitTorrent-Client : <tmpl_include name="inc.clientSelectForm.tmpl">
									</td>
								</tr>
							</table>
						</form>
					</tmpl_if>
				</tmpl_if>
				<form name="theForm" action="dispatcher.php?action=start" method="post" onsubmit="return validateSettings('<tmpl_var name="type">')">
					<input type="hidden" name="interactive" value="true">
					<table border="1" bordercolor="#94ABC0" cellpadding="2" cellspacing="0" bgcolor="#A2BED4" width="100%">
						<tmpl_include name="inc.transferSettings.tmpl">
						<tr>
							<td colspan="2" align="center">
								<input type="checkbox" value="true" name="closeme">Close
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="Submit" value="<tmpl_var name="_RUNTRANSFER">">
							</td>
						</tr>
					</table>
				</form>
			</tmpl_if>
			</div>
		</td>
	</tr>
</table>
<tmpl_include name="inc.transferFoot.tmpl">