<tmpl_include name="inc.head.tmpl">
<tmpl_include name="inc.subhead.tmpl">
<tmpl_include name="inc.adminmenu.tmpl">
<script src="js/functions.js" type="text/javascript"></script>
<script src="js/adminSettings.js" type="text/javascript"></script>
<script src="js/moveSettings.js" type="text/javascript"></script>
<script src="js/resdirSettings.js" type="text/javascript"></script>
<div align="center">
	<table width="100%" border=1 bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0" bgcolor="<tmpl_var name="table_data_bg">">
		<tr>
			<td bgcolor="<tmpl_var name="table_header_bg">" background="themes/default/images/bar.gif">
				<img src="themes/default/images/properties.png" border=0>&nbsp;&nbsp;<font class="title">Dir Settings</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<div align="center">
					<form name="theForm" action="admin.php?op=updateDirSettings" method="post" onsubmit="return validateSettings('dir')">
						<table cellpadding="5" cellspacing="0" border="0" width="100%">
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_public_read"><strong>Public Read</strong></label><br/>
									Enable/Disable Public Read. When enabled all users can browse through all folders :
								</td>
								<td valign="top">
									<select name="dir_public_read" id="dir_public_read">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="dir_public_read" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_public_write"><strong>Public Write</strong></label><br/>
									Enable/Disable Public Write. When enabled all users can delete from/write to all folders :
								</td>
								<td valign="top">
									<select name="dir_public_write" id="dir_public_write">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="dir_public_write" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_enable_chmod"><strong>Enable chmod</strong></label><br/>
									Enable/Disable chmod-feature :
								</td>
								<td valign="top">
									<select name="dir_enable_chmod" id="dir_enable_chmod">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="dir_enable_chmod" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_dirstats"><strong>Enable dir-stats</strong></label><br/>
									Enable/Disable dir-stats :
								</td>
								<td valign="top">
									<select name="enable_dirstats" id="enable_dirstats">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_dirstats" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_maketorrent"><strong>Enable Make Torrent</strong></label><br/>
									When enabled, users will be allowed to make torrent files from the directory view:
								</td>
								<td valign="top">
									<select name="enable_maketorrent" id="enable_maketorrent">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_maketorrent" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="dir_maketorrent_default"><strong>Default Make Torrent Client</strong></label><br/>
									Choose the default-client used to create torrent-files :
								</td>
								<td valign="top">
									<select name="dir_maketorrent_default" id="dir_maketorrent_default">
										<option value="tornado">tornado</option>
										<option value="mainline"
										<tmpl_if name="dir_maketorrent_default" value="mainline">
											 selected
										</tmpl_if>
										>mainline</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_file_download"><strong>Enable File Download</strong></label><br/>
									When enabled, users will be allowed to download from the directory view:
								</td>
								<td valign="top">
									<select name="enable_file_download" id="enable_file_download">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_file_download" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="package_type"><strong>Download Package Type</strong></label><br/>
									When File Download is enabled, users will be allowed download from the directory view using
									a packaging system.	 Make sure your server supports the package type you select:
								</td>
								<td valign="top">
									<select name="package_type" id="package_type">
										<option value="tar" selected>tar</option>
										<option value="zip"
										<tmpl_if name="package_type" value="zip">
											 selected
										</tmpl_if>
										>zip</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_view_nfo"><strong>Enable Text/NFO Viewer</strong></label><br/>
									When enabled, users will be allowed to view Text/NFO files from the directory listing:
								</td>
								<td valign="top">
									<select name="enable_view_nfo" id="enable_view_nfo">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_view_nfo" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_rar"><strong>Enable unrar</strong></label><br/>
									Enable/Disable unrar :
								</td>
								<td valign="top">
									<select name="enable_rar" id="enable_rar">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_rar" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_sfvcheck"><strong>Enable sfv-check</strong></label><br/>
									Enable/Disable SFV Check :
								</td>
								<td valign="top">
									<select name="enable_sfvcheck" id="enable_sfvcheck">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_sfvcheck" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_vlc"><strong>Enable vlc</strong></label><br/>
									Enable/Disable vlc-streaming :
								</td>
								<td valign="top">
									<select name="enable_vlc" id="enable_vlc">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_vlc" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="vlc_port"><strong>vlc port </strong></label><br/>
									Set the port for vlc (8080).
								</td>
								<td valign="top">
									<input name="vlc_port" id="vlc_port" type="Text" maxlength="5" value="<tmpl_var name="vlc_port">" size="5">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_rename"><strong>Enable Rename Files</strong></label><br/>
									Enable/Disable Rename Files or Folders:
								</td>
								<td valign="top">
									<select name="enable_rename" id="enable_rename">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_rename" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<label for="enable_move"><strong>Enable Move</strong></label><br/>
									Enable/Disable Moving Files into a specified dir:
								</td>
								<td valign="top">
									<select name="enable_move" id="enable_move">
										<option value="1">true</option>
										<option value="0"
										<tmpl_if name="enable_move" value="0">
											 selected
										</tmpl_if>
										>false</option>
									</select>
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<strong>Move Paths</strong><br/>
									<em>Note</em> : You must specify absolute paths here. relative paths are not valid.<br>
									<em>Note</em> : The created dirs will not be deleted after removing a entry from the List.
								</td>
								<td valign="top">
									<tmpl_include name="inc.moveSettings.tmpl">
								</td>
							</tr>
							<tr>
								<td align="left" width="350" valign="top">
									<strong>Restricted Entries</strong><br/>
									Set the entries restricted for all dir-operations.<br>
									<em>Note</em> : dot-entries are always restricted.
								</td>
								<td valign="top">
									<table>
										<tr>
											<td valign="top" align="left"><label for="resdirlist">Entries:</label> </td>
											<td valign="top" align="left">
												<select name="resdirlist" id="resdirlist" size="3">
													<tmpl_if name="dir_restricted_list">
														<tmpl_loop name="dir_restricted_list">
															<option value="<tmpl_var name="target">"><tmpl_var name="target"></option>
															</tmpl_loop>
													</tmpl_if>
												</select>
												<input type="button" name="remButton" value="remove" onclick="removeDirEntry()">
											</td>
										</tr>
										<tr>
											<td valign="top" align="left"><label for="resdirentry">New Entry:</label> </td>
											<td valign="top" align="left">
												<input type="text" name="resdirentry" id="resdirentry" size="30">
												<input type="button" name="addButton" value="add" onclick="addDirEntry()" size="30">
												<input type="hidden" name="dir_restricted" value="<tmpl_var name="dir_restricted">">
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<br>
						<input type="Submit" value="Update Settings">
					</form>
				</div>
				<br>
			</td>
		</tr>
	</table>
</div>
<tmpl_include name="inc.subfoot.tmpl">