<tmpl_include name="inc.head.tmpl">
<tmpl_var name="head">
<style>.tinyRow {font-size:2px;height:2px;}</style>
<a name="top"></a>
	<div align="center">
		<table border=1 cellspacing=0 width="760" cellpadding=5>
			<tr>
				<td bgcolor="#d6dfe6">
					<form id="searchForm" name="searchForm" action="index.php" method="get">
						<input type="hidden" name="iid" value="torrentSearch">
						<tmpl_var name="_SEARCH"> Torrents:<br>
						<input type="text" name="searchterm" value="<tmpl_var name="searchterm">" size=30 maxlength=50>&nbsp;
						<select name="searchEngine" <tmpl_if name="autoSubmit">onchange="this.form.submit();"</tmpl_if> STYLE="width: 125px">
						<tmpl_loop name="Engine_List">
							<option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="Engine"></option>
						</tmpl_loop>
						</select>
						&nbsp;<input type="Submit" value="<tmpl_var name="_SEARCH">">&nbsp;&nbsp;
						<script language="JavaScript">
							function getLatest()
							{
								var selectedItem = document.searchForm.searchEngine.selectedIndex;
								document.searchForm.searchterm.value = '';
								document.location.href = 'index.php?iid=torrentSearch&searchEngine='+document.searchForm.searchEngine.options[selectedItem].value+'&LATEST=1';
								return true;
							}
						</script>
						&nbsp;&nbsp;<a href="#" onclick="javascript:getLatest()");"><img src="themes/default/images/properties.png" width=18 height=13 title="Show Latest Torrents" align="absmiddle" border=0>Show Latest Torrents</a>
					</form>
					* Click on Torrent Links to add them to the Torrent Download List
				</td>
				<td bgcolor="#d6dfe6" align=right valign=top>Visit:<br>
					<tmpl_loop name="buildSearchEngineArray">
						<a href="http://<tmpl_var name="hreflink">" target="_blank">
							<tmpl_if name="selected">
								<b><tmpl_var name="hreflink"></b>
							<tmpl_else>
								<tmpl_var name="hreflink">
							</tmpl_if>
						</a><br>
					</tmpl_loop>
				</td>
			</tr>
			<tr>
				<td>
					<tmpl_if name="is_searchEngine">
						<tmpl_if name="is_initialized">
							<div align=center valign=top>
								<tmpl_var name="links_list">
								<tmpl_if name="no_mainStart">
									<br><br>
								</tmpl_if>
							</div>
						</td>
					</tr>
					<tmpl_if name="no_empty_genre">
						<tmpl_if name="count_subCats">
							<tr bgcolor="#d6dfe6">
								<td colspan=6>
									<form method=get id="subLatest" name="subLatest" action=index.php>
										<input type=hidden name="iid" value="torrentSearch">
										<input type=hidden name="searchEngine" value="<tmpl_var name="searchEngine">">
										Category: <b><tmpl_var name="mainGenreName"></a></b> ->
										<select name=subGenre>
											<tmpl_loop name=list_cats">
												<option value=<tmpl_var name="subId">><tmpl_var name="subName"></option>
											</tmpl_loop>
										</select>
										<input type=submit value='Show Latest'>
									</form>
								<tmpl_else>
									</td></tr></table></div>
									<tmpl_var name="getLatest">
								</tmpl_if>
							<tmpl_else>
							</td>
						</tr>
					</table>
				</div>
				<tmpl_if name="is_latest">
					<tmpl_var name="getLatest">
				<tmpl_else>
					<tmpl_var name="performSearch">
				</tmpl_if>
			</tmpl_if>
		<tmpl_else>
		</td>
	</tr>
	<tr>
		<td>
			<br><br>
			<div align=center><strong><tmpl_var name="sEngine_msg"></strong></div><br><br>
		</td>
	</tr>
</table>
</div>
</tmpl_if>
<tmpl_else>
	</td></tr>
		<tr><td><br><br><div align=center><strong>Search Engine not installed.</strong></div><br><br></td></tr>
	</table></div>
</tmpl_if>
<tmpl_var name="foot">