<table style="width:100%;" cellspacing="0">
<tbody>
	<tr>
		<td style="padding:3px;white-space:nowrap;width:1%;">
			<div class="small" style="text-align:left;">Upload:</div>
		</td>
		<td style="width:98%;">
			<table style="width:100%;" cellspacing="0">
				<tr>
					<td id="barSpeedUp1" style="height:12px;width:<tmpl_var name="bandwidthbars_upload_percent">%;border-left:1px solid #000000;">
						<img src="themes/<tmpl_var name="theme">/images/proglass.gif" style="height:12px;width:100%;" alt="" />
					</td>
					<td id="barSpeedUp2" style="height:12px;width:<tmpl_var name="bandwidthbars_upload_percent2">%;border-right:1px solid #000000;">
						<img src="themes/<tmpl_var name="theme">/images/noglass.gif" style="height:12px;width:100%;" alt="" />
					</td>
				</tr>
			</table>
		</td>
		<td style="width:1%;padding:3px;white-space:nowrap;">
			<div class="small" style="text-align:left;white-space:nowrap;">
				<span id="barSpeedUpPercent"><tmpl_var name="bandwidthbars_upload_percent"></span>% (<span id="barSpeedUp"><tmpl_var name="bandwidthbars_upload_text"></span> kB/s)
			</div>
		</td>
	</tr>
	<tr>
		<td style="padding:3px;white-space:nowrap;width:1%;">
			<div class="small" style="text-align:left;">Download:</div>
		</td>
		<td style="width:98%;">
			<table style="width:100%;" cellspacing="0">
				<tr>
					<td id="barSpeedDown1" style="height:12px;width:<tmpl_var name="bandwidthbars_download_percent">%;border-left:1px solid #000000;">
						<img src="themes/<tmpl_var name="theme">/images/proglass.gif" style="height:12px;width:100%;" alt="" />
					</td>
					<td id="barSpeedDown2" style="height:12px;width:<tmpl_var name="bandwidthbars_download_percent2">%;border-right:1px solid #000000;">
						<img src="themes/<tmpl_var name="theme">/images/noglass.gif" style="height:12px;width:100%;" alt="" />
					</td>
				</tr>
			</table>
		</td>
		<td style="width:1%;padding:3px;white-space:nowrap;">
			<div class="small" style="text-align:left;white-space:nowrap;">
				<span id="barSpeedDownPercent"><tmpl_var name="bandwidthbars_download_percent"></span>% (<span id="barSpeedDown"><tmpl_var name="bandwidthbars_download_text"></span> kB/s)
			</div>
		</td>
	</tr>
</tbody>
</table>