#content {
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	width: 60%;
}
#upload {
	height: 26px;
	text-align: center;
	background-image: url("../pics/upload.jpg");
	background-repeat: repeat-x;
}
#stats {
	margin-top: 15px;
}
span.upload_first {
	padding-right: 10px;
	position: relative;
		top: 5px;
	color: #585858;
}
span.upload {
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
		top: 5px;
	color: #585858;
}
span.upload_last {
	padding-left: 10px;
	position: relative;
		top: 5px;
	color: #585858;
}
#uploadFirst {
	position: relative;
		top: -26px;
	height: 26px;
	background-image: url("../pics/upload_left.jpg");
	background-repeat: no-repeat;
}
#uploadLast {
	height: 26px;
	background-image: url("../pics/upload_right.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
div.uploadClass {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	background-color: #c1b18d;
}
#uploadBottom {
	height: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #c1b18d;
	background-image: url("../pics/upload_bottom_left.jpg");
	background-repeat: no-repeat;
}
#uploadBottomEnd {
	height: 10px;
	margin-right: 10px;
	margin-left: 20px;
	position: relative;
		top: -10px;
	background-color: #c1b18d;
	background-image: url("../pics/upload_bottom_right.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
#addUploadField {
	color: #585858;
	text-decoration: none;
}
#addUploadField:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#bandwidthTitle {
	margin-left: 20px;
	margin-top: 5px;
}