#upload {
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	padding-top: 15px;
	height: 26px;
	background-image: url("../pics/upload.jpg");
	background-repeat: repeat-x;
	background-position: bottom;
	float: left;
}
div.upload_first {
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	height: 26px;
	background-image: url("../pics/upload_left.jpg");
	background-repeat: no-repeat;
	float: left;
}
div.upload {
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	height: 26px;
	float: left;
}
div.upload_last {
	padding: 0px;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	height: 26px;
	background-image: url("../pics/upload_right.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	float: left;
}