#content {
	margin: 15px 180px 0px 180px;
	float: left;
}
#upload {
	height: 26px;
	text-align: center;
	background-image: url("../pics/upload.jpg");
	background-repeat: repeat-x;
}
#stats {
	position: absolute;
		right: 0px;
	width: 180px;
	margin-top: 15px;
	float: left;
}
span.upload_first {
	padding-right: 10px;
	position: relative;
		top: 5px;
	color: #585858;
}
span.upload {
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
		top: 5px;
	color: #585858;
}
span.upload_last {
	padding-left: 10px;
	position: relative;
		top: 5px;
	color: #585858;
}
#uploadFirst {
	position: relative;
		top: -26px;
	height: 26px;
	background-image: url("../pics/upload_left.jpg");
	background-repeat: no-repeat;
}
#uploadLast {
	height: 26px;
	background-image: url("../pics/upload_right.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
div.uploadClass {
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	background-color: #c1b18d;
}
#uploadBottom {
	height: 10px;
	margin-left: 10px;
	margin-right: 10px;
	background-color: #c1b18d;
	background-image: url("../pics/upload_bottom_left.jpg");
	background-repeat: no-repeat;
}
#uploadBottomEnd {
	height: 10px;
	margin-right: 10px;
	margin-left: 20px;
	position: relative;
		top: -10px;
	background-color: #c1b18d;
	background-image: url("../pics/upload_bottom_right.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
#addUploadField {
	color: #585858;
	text-decoration: none;
}
#addUploadField:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#transfer_table {
	width: 100%;
}
#bandwidthTitle {
	margin-left: 20px;
	width: 160px;
	height: 16px;
	background-image: url("../pics/menu.jpg");
	background-repeat: no-repeat;
}
#statsBandwidth {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsBandwidthBars {
	margin-left: 10px;
	padding-top: 5px;
	height: 102px;
}
#statsBandwidthUpload {
	margin-left: 20px;
	width: 30px;
	height: 100px;
	float: left;
	background-image: url("../pics/bandwidthUpBack.jpg");
	background-repeat: no-repeat;
}
#statsBandwidthDownload {
	margin-left: 20px;
	width: 30px;
	height: 100px;
	float: left;
	background-image: url("../pics/bandwidthDownBack.jpg");
	background-repeat: no-repeat;
}
#bandwidth {
	height: 19px;
	background-image: url("../pics/menu_box_bottom.jpg");
	background-repeat: no-repeat;
}
#bandwidthUp {
	margin-left: 26px;
	font-size: 9px;
	color: #585858;
}
#bandwidthDown {
	margin-left: 4px;
	font-size: 9px;
	color: #585858;
}
#drivespaceTitle {
	margin-top: 5px;
	margin-left: 20px;
	width: 160px;
	height: 16px;
	background-image: url("../pics/menu.jpg");
	background-repeat: no-repeat;
}
div.linksTitle {
	margin-top: 5px;
	margin-left: 20px;
	width: 160px;
	height: 16px;
	background-image: url("../pics/menu.jpg");
	background-repeat: no-repeat;
}
#statsLinks {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsUsersOnline {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsUsersOffline {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#serverStats {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsUserXfer {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsGlobalXfer {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsDrivespace {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
span.serverStats {
	margin-left: 10px;
	color: #585858;
}
span.serverStats2 {
	color: #585858;
	margin-left: 35px;
}
div.serverStatsBottom {
	height: 19px;
	background-image: url("../pics/menu_box_bottom.jpg");
	background-repeat: no-repeat;
}
#statsDiskspaceBar {
	padding-top: 5px;
	margin-left: 20px;
	margin-bottom: 2px;
	width: 100px;
	height: 30px;
	background-image: url("../pics/diskspaceBackground.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
}
#diskspace {
	font-size: 9px;
	margin-left: 22px;
	color: #585858;
}
#warning {
	height: 26px;
	margin-bottom: 5px;
	text-align: center;
	background-image: url("../pics/warning.jpg");
	background-repeat: repeat-x;
}
#warningFirst {
	position: relative;
		top: -26px;
	height: 26px;
	background-image: url("../pics/warning_left.jpg");
	background-repeat: no-repeat;
}
#warningLast {
	height: 26px;
	background-image: url("../pics/warning_right.jpg");
	background-repeat: no-repeat;
	background-position: right;
}
#warningText {
	position: relative;
		top: 3px;
	color: #585858;
	font-size: 12pt;
	font-weight: 700;
}