#addUploadField {
	color: #585858;
	text-decoration: none;
}
#addUploadField:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#transfer_table {
	width: 100%;
}
#statsBandwidth {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsBandwidthBars {
	margin-left: 10px;
	padding-top: 5px;
	height: 102px;
}
#statsBandwidthUpload {
	margin-left: 20px;
	width: 30px;
	height: 100px;
	float: left;
	background-image: url("../pics/bandwidthUpBack.jpg");
	background-repeat: no-repeat;
}
#statsBandwidthDownload {
	margin-left: 20px;
	width: 30px;
	height: 100px;
	float: left;
	background-image: url("../pics/bandwidthDownBack.jpg");
	background-repeat: no-repeat;
}
#bandwidth {
	height: 19px;
	background-image: url("../pics/menu_box_bottom.jpg");
	background-repeat: no-repeat;
}
#bandwidthUp {
	margin-left: 26px;
	font-size: 9px;
	color: #585858;
}
#bandwidthDown {
	margin-left: 4px;
	font-size: 9px;
	color: #585858;
}
div.linksTitle {
	margin-top: 5px;
	margin-left: 20px;
	width: 160px;
	height: 16px;
	background-image: url("../pics/menu.jpg");
	background-repeat: no-repeat;
}
#statsLinks {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsUsersOnline {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsUsersOffline {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#serverStats {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsUserXfer {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
#statsGlobalXfer {
	margin-left: 30px;
	background-image: url("../pics/menu_box.jpg");
	background-repeat: repeat-y;
}
span.serverStats2 {
	color: #585858;
	margin-left: 35px;
}