<tmpl_include name="../inc.head.tmpl">
<tmpl_var name="head">
<tmpl_var name="menu">
<table width="760" border="1" bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0">
 <tr>
  <td bgcolor="<tmpl_var name="table_header_bg">" background="themes/<tmpl_var name="theme">/images/bar.gif">
   <div align="center">
    <a href="index.php?iid=admin&op=CreateUser"><font class="adminlink">create user</font></a>
    <tmpl_if name="enable_xfer">
      |
     <a href="index.php?iid=xfer"><font class="adminlink">xfer stats</font></a>
    </tmpl_if>
   </div>
  </td>
 </tr>
</table>
<br>
<tmpl_var name="userSection">
<tmpl_var name="foot">