<tmpl_var name="head">
<tmpl_var name="menu">
<div align="center">
	<table border=1 bordercolor="<tmpl_var name="table_admin_border">" cellpadding="2" cellspacing="0">
		<tr>
			<td bgcolor="<tmpl_var name="table_header_bg">" background="themes/<tmpl_var name="theme">/images/bar.gif">
				<img src="images/properties.png" width=18 height=13 border=0>&nbsp;&nbsp;<font class="title">RSS Feeds</font>
			</td>
		</tr>
		<tr>
			<td align="center">
				<form action="admin.php?op=addRSS" method="post">
					<tmpl_var name="_FULLURLLINK">:
					<input type="Text" size="50" maxlength="255" name="newRSS">
					<input type="Submit" value="<tmpl_var name="_UPDATE">"><br>
				</form>
			</td>
		</tr>
		<tmpl_loop name="link_rss">
			<tmpl_if name="true">
				<tr>
					<td><a href="admin.php?op=deleteRSS&rid=<tmpl_var name="rid">"><img src="images/delete_on.gif" width=16 height=16 border=0 title="<tmpl_var name="_DELETE"> <tmpl_var name="rid">" align="absmiddle"></a>&nbsp;
						<a href="<tmpl_var name="link">" target="_blank"><tmpl_var name="link"></a>
					</td>
				</tr>
			</tmpl_if>
		</tmpl_loop>
	</table>
</div>
<br><br><br>
<tmpl_var name="foot">