<tmpl_var name="head">
<div align="center" style="width: 740px;">
	<a href="index.php?page= viewnfo&path=<tmpl_var name="file">&dos=1">DOS Format</a> :-:
	<a href="index.php?page= viewnfo&path=<tmpl_var name="file">&win=1">WIN Format</a> :-:
	<a href="index.php?page=dir&dir=<tmpl_var name="file">">Back</a>
</div>
<pre style="font-size: 10pt; font-family: 'Courier New', monospace;">
<tmpl_var name="output">
</pre>
<tmpl_var name="foot">