.indexsubtable
{
	width:100%;
	margin:6px;
	text-align:left;
}

.uploadfiletable
{
	padding:2px;
}

a.fluxlink,
a:link.fluxlink,
a:active.fluxlink,
a:visited.fluxlink,
a:hover.fluxlink
{
	font-size:80%;
	color:#FFFFFF;
}